---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{assets}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{assets}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{assets}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon md-chevron-left" aria-hidden="true"></i>
          <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xs-12 col-xxl-6 col-lg-12 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions pull-xs-right">
                                <a href="javascript:void(0)">
                                  <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                  <i class="icon md-favorite text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              culpa
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  aliqua
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Quis est velit veniam laborum exercitation duis non fugiat. Aliqua elit pariatur
                              est occaecat qui. Minim ut exercitation proident
                              esse aute laboris labore laborum. Tempor in nulla
                              aute ut enim duis magna. Minim aliquip elit nostrud
                              reprehenderit id aliqua. Consequat officia duis reprehenderit
                              eiusmod aliquip magna quis. Enim velit veniam ullamco
                              magna labore cupidatat dolor amet aliqua. Sint minim
                              id laborum cillum.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-lg-12 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions pull-xs-right">
                                <a href="javascript:void(0)">
                                  <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                  <i class="icon md-favorite text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              labore
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  pariatur
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Ipsum aliqua deserunt eu magna ullamco do minim nulla. Velit aliqua sint eiusmod
                              ea. Voluptate fugiat incididunt qui elit eu. Ut officia
                              sit sunt aute culpa cupidatat. Culpa in eiusmod sit
                              ipsum laboris non laboris exercitation quis. Minim
                              adipisicing sint ex cupidatat et irure qui eu. Veniam
                              cupidatat exercitation mollit consequat exercitation
                              laboris eu. Incididunt laboris cillum aliqua veniam
                              sit.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-lg-12 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions pull-xs-right">
                                <a href="javascript:void(0)">
                                  <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                  <i class="icon md-favorite text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              esse
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  enim
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Quis laborum ipsum excepteur reprehenderit veniam do nisi. Enim qui id duis pariatur.
                              Amet proident duis pariatur exercitation quis eiusmod
                              deserunt tempor ea. Sit amet est eiusmod consectetur
                              aute consectetur. Reprehenderit do labore in ipsum
                              nisi aute commodo sint. Sunt do sunt laboris enim
                              dolore fugiat non eu tempor. Excepteur ex enim aliqua
                              tempor voluptate. Ea sint aliqua in non consectetur
                              Lorem sit.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-lg-12 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions pull-xs-right">
                                <a href="javascript:void(0)">
                                  <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                  <i class="icon md-favorite text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              deserunt
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  enim
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Amet labore nostrud aute incididunt incididunt aute irure voluptate Lorem. Duis
                              elit pariatur cupidatat minim elit nulla nostrud
                              ullamco nulla. Reprehenderit tempor voluptate exercitation
                              minim ullamco excepteur. Proident laboris laboris
                              voluptate aliquip ut aute. Minim enim cillum cillum
                              consequat. Amet et pariatur ipsum laborum laborum
                              fugiat cillum Lorem anim. In voluptate in qui cupidatat
                              dolor. Proident minim cupidatat qui reprehenderit
                              incididunt ex.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-lg-12 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions pull-xs-right">
                                <a href="javascript:void(0)">
                                  <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                  <i class="icon md-favorite text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              ex
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  deserunt
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Nisi duis et aliquip eu ullamco est in. Do Lorem sint ullamco ea consectetur. Quis
                              quis enim anim dolor Lorem occaecat. Tempor nisi
                              ad dolore reprehenderit duis. Laborum sint aliquip
                              dolor veniam nostrud. Dolor duis ullamco magna adipisicing
                              culpa sint sit dolor. Duis dolor qui sint et dolore
                              minim ea eiusmod. Reprehenderit dolor duis nulla
                              voluptate ullamco aliquip laborum.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-xs-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 hotel-info"
                        data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            ex adipisicing
                          </h4>
                          <p class="card-text item-title">
                            Lorem minim ea amet deserunt minim incididunt. Nulla adipisicing id ipsum anim
                            cillum. Commodo incididunt labore velit nulla mollit
                            amet.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 hotel-info"
                        data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            esse exercitation
                          </h4>
                          <p class="card-text item-title">
                            Culpa in mollit laboris excepteur voluptate. Nostrud enim nulla irure quis. Sunt
                            esse duis anim aliquip fugiat dolor.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 hotel-info"
                        data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            esse quis
                          </h4>
                          <p class="card-text item-title">
                            Minim duis do labore veniam ad. Aliqua veniam labore exercitation cillum culpa
                            adipisicing sunt. Et mollit occaecat magna amet magna.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 hotel-info"
                        data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            et elit
                          </h4>
                          <p class="card-text item-title">
                            Quis laborum reprehenderit sint exercitation ex magna. Velit dolore minim officia
                            et. Velit laborum nulla eu qui.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 hotel-info"
                        data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            pariatur exercitation
                          </h4>
                          <p class="card-text item-title">
                            Aute cupidatat labore aute esse exercitation dolor cillum. Aliquip quis proident
                            Lorem commodo id commodo. Consequat laborum reprehenderit
                            do consectetur et.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 hotel-info"
                        data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            nisi fugiat
                          </h4>
                          <p class="card-text item-title">
                            Cupidatat minim magna officia velit proident veniam sint. Pariatur id tempor commodo
                            dolor quis eiusmod dolore. Consectetur eu dolor voluptate
                            nisi reprehenderit.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="pull-xs-right p-l-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">amet cillum</h4>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">eu occaecat</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">dolor nulla</h4>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">exercitation anim</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">pariatur voluptate</h4>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">aliquip non</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">adipisicing magna</h4>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">id esse</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">commodo in</h4>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">esse ut</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">aliqua adipisicing</h4>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">est eiusmod</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">incididunt deserunt</h4>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">labore eu</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">qui consectetur</h4>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">excepteur consectetur</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="media-left">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="media-heading item-name">ex enim</h4>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="media-right">
                                <span class="item-title">ea magna</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}