<div class="site-footer-legal">2017 <a
        href="http://theonicore.com">The Omnicore</a></div>
<div class="site-footer-right">
    <!--Crafted with <i class="red-600 icon md-favorite"></i> by <a href="http://themeforest.net/user/amazingSurge">amazingSurge</a>-->
</div>