<div>
    <div>
        <ul>
            <li>
                <a href="apps/mailbox/mailbox.html">
                    <i class="icon md-email"></i>
                    <span>Mailbox</span>
                </a>
            </li>
            <li>
                <a href="apps/calendar/calendar.html">
                    <i class="icon md-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="apps/contacts/contacts.html">
                    <i class="icon md-account"></i>
                    <span>Contacts</span>
                </a>
            </li>
            <li>
                <a href="apps/media/overview.html">
                    <i class="icon md-videocam"></i>
                    <span>Media</span>
                </a>
            </li>
            <li>
                <a href="apps/documents/categories.html">
                    <i class="icon md-receipt"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li>
                <a href="apps/projects/projects.html">
                    <i class="icon md-image"></i>
                    <span>Project</span>
                </a>
            </li>
            <li>
                <a href="apps/forum/forum.html">
                    <i class="icon md-comments"></i>
                    <span>Forum</span>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <i class="icon md-view-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</div>