<ul class="site-menu">
    <li class="site-menu-item" ui-sref-active="active" ui-sref="app.crm.dash">
        <a class="" href="javascript:;" >
            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
            <span class="site-menu-title">Dashboard</span>
        </a>
    </li>
    <li class="site-menu-item" ui-sref-active="active" ui-sref="app.crm.user.list">
        <a class="" href="javascript:;" >
            <i class="site-menu-icon md-accounts-list" aria-hidden="true"></i>
            <span class="site-menu-title">User list</span>
        </a>
    </li>
    <li class="site-menu-item" ui-sref-active="active" ui-sref="app.crm.product.list">
        <a class="" href="javascript:;">
            <i class="site-menu-icon md-view-list" aria-hidden="true"></i>
            <span class="site-menu-title">Product List</span>
        </a>
    </li>

    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
            <span class="site-menu-title">Layouts</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="layouts/menu-collapsed.html">
                    <span class="site-menu-title">Menu Collapsed</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/menu-expended.html">
                    <span class="site-menu-title">Menu Expended</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/grids.html">
                    <span class="site-menu-title">Grid Scaffolding</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/layout-grid.html">
                    <span class="site-menu-title">Layout Grid</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/headers.html">
                    <span class="site-menu-title">Different Headers</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/panel-transition.html">
                    <span class="site-menu-title">Panel Transition</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/boxed.html">
                    <span class="site-menu-title">Boxed Layout</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/two-columns.html">
                    <span class="site-menu-title">Two Columns</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/bordered-header.html">
                    <span class="site-menu-title">Bordered Header</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/menubar-flipped.html">
                    <span class="site-menu-title">Menubar Flipped</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="layouts/menubar-native-scrolling.html">
                    <span class="site-menu-title">Menubar Native Scrolling</span>
                </a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Page Aside</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="layouts/aside-left-static.html">
                            <span class="site-menu-title">Left Static</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="layouts/aside-right-static.html">
                            <span class="site-menu-title">Right Static</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="layouts/aside-left-fixed.html">
                            <span class="site-menu-title">Left Fixed</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="layouts/aside-right-fixed.html">
                            <span class="site-menu-title">Right Fixed</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
            <span class="site-menu-title">Pages</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Errors</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="pages/error-400.html">
                            <span class="site-menu-title">400</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/error-403.html">
                            <span class="site-menu-title">403</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/error-404.html">
                            <span class="site-menu-title">404</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/error-500.html">
                            <span class="site-menu-title">500</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/error-503.html">
                            <span class="site-menu-title">503</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/faq.html">
                    <span class="site-menu-title">FAQ</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/gallery.html">
                    <span class="site-menu-title">Gallery</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/gallery-grid.html">
                    <span class="site-menu-title">Gallery Grid</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/search-result.html">
                    <span class="site-menu-title">Search Result</span>
                </a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Maps</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="pages/map-google.html">
                            <span class="site-menu-title">Google Maps</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/map-vector.html">
                            <span class="site-menu-title">Vector Maps</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/maintenance.html">
                    <span class="site-menu-title">Maintenance</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/forgot-password.html">
                    <span class="site-menu-title">Forgot Password</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/lockscreen.html">
                    <span class="site-menu-title">Lockscreen</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/login.html">
                    <span class="site-menu-title">Login</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/register.html">
                    <span class="site-menu-title">Register</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/login-v2.html">
                    <span class="site-menu-title">Login V2</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/register-v2.html">
                    <span class="site-menu-title">Register V2</span>
                    <div class="site-menu-label">
                        <span class="tag tag-info tag-round">new</span>
                    </div>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/login-v3.html">
                    <span class="site-menu-title">Login V3</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/register-v3.html">
                    <span class="site-menu-title">Register V3</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/user.html">
                    <span class="site-menu-title">User List</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/invoice.html">
                    <span class="site-menu-title">Invoice</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/blank.html">
                    <span class="site-menu-title">Blank Page</span>
                </a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Email</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="pages/email-articles.html">
                            <span class="site-menu-title">Articles</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/email-welcome.html">
                            <span class="site-menu-title">Welcome</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/email-post.html">
                            <span class="site-menu-title">Post</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/email-thumbnail.html">
                            <span class="site-menu-title">Thumbnail</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="pages/email-news.html">
                            <span class="site-menu-title">News</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/code-editor.html">
                    <span class="site-menu-title">Code Editor</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/profile.html">
                    <span class="site-menu-title">Profile</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/profile-v2.html">
                    <span class="site-menu-title">Profile V2</span>
                    <div class="site-menu-label">
                        <span class="tag tag-info tag-round">new</span>
                    </div>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/profile-v3.html">
                    <span class="site-menu-title">Profile V3</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/site-map.html">
                    <span class="site-menu-title">Sitemap</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="pages/project.html">
                    <span class="site-menu-title">Project</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-palette" aria-hidden="true"></i>
            <span class="site-menu-title">Basic UI</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Panel</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="uikit/panel-structure.html">
                            <span class="site-menu-title">Panel Structure</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="uikit/panel-actions.html">
                            <span class="site-menu-title">Panel Actions</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="uikit/panel-portlets.html">
                            <span class="site-menu-title">Panel Portlets</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/buttons.html">
                    <span class="site-menu-title">Buttons</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/cards.html">
                    <span class="site-menu-title">Cards</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/dropdowns.html">
                    <span class="site-menu-title">Dropdowns</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/icons.html">
                    <span class="site-menu-title">Icons</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/list.html">
                    <span class="site-menu-title">List</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/tooltip-popover.html">
                    <span class="site-menu-title">Tooltip &amp; Popover</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/modals.html">
                    <span class="site-menu-title">Modals</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/tabs-accordions.html">
                    <span class="site-menu-title">Tabs &amp; Accordions</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/images.html">
                    <span class="site-menu-title">Images</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/tags.html">
                    <span class="site-menu-title">Tags</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/progress-bars.html">
                    <span class="site-menu-title">Progress Bars</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/carousel.html">
                    <span class="site-menu-title">Carousel</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/typography.html">
                    <span class="site-menu-title">Typography</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/colors.html">
                    <span class="site-menu-title">Colors</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="uikit/utilities.html">
                    <span class="site-menu-title">Utilties</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-format-color-fill" aria-hidden="true"></i>
            <span class="site-menu-title">Advanced UI</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item hidden-sm-down site-tour-trigger">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Tour</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/animation.html">
                    <span class="site-menu-title">Animation</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/highlight.html">
                    <span class="site-menu-title">Highlight</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/lightbox.html">
                    <span class="site-menu-title">Lightbox</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/scrollable.html">
                    <span class="site-menu-title">Scrollable</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/rating.html">
                    <span class="site-menu-title">Rating</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/context-menu.html">
                    <span class="site-menu-title">Context Menu</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/alertify.html">
                    <span class="site-menu-title">Alertify</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/masonry.html">
                    <span class="site-menu-title">Masonry</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/treeview.html">
                    <span class="site-menu-title">Treeview</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/toastr.html">
                    <span class="site-menu-title">Toastr</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/maps-vector.html">
                    <span class="site-menu-title">Vector Maps</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/maps-google.html">
                    <span class="site-menu-title">Google Maps</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/sortable-nestable.html">
                    <span class="site-menu-title">Sortable &amp; Nestable</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="advanced/bootbox-sweetalert.html">
                    <span class="site-menu-title">Bootbox &amp; Sweetalert</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-puzzle-piece" aria-hidden="true"></i>
            <span class="site-menu-title">Structure</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="structure/alerts.html">
                    <span class="site-menu-title">Alerts</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/ribbon.html">
                    <span class="site-menu-title">Ribbon</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/pricing-tables.html">
                    <span class="site-menu-title">Pricing Tables</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/overlay.html">
                    <span class="site-menu-title">Overlay</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/cover.html">
                    <span class="site-menu-title">Cover</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/timeline-simple.html">
                    <span class="site-menu-title">Simple Timeline</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/timeline.html">
                    <span class="site-menu-title">Timeline</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/step.html">
                    <span class="site-menu-title">Step</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/comments.html">
                    <span class="site-menu-title">Comments</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/media.html">
                    <span class="site-menu-title">Media</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/chat.html">
                    <span class="site-menu-title">Chat</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/testimonials.html">
                    <span class="site-menu-title">Testimonials</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/nav.html">
                    <span class="site-menu-title">Nav</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/navbars.html">
                    <span class="site-menu-title">Navbars</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/blockquotes.html">
                    <span class="site-menu-title">Blockquotes</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/pagination.html">
                    <span class="site-menu-title">Pagination</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="structure/breadcrumbs.html">
                    <span class="site-menu-title">Breadcrumbs</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-widgets" aria-hidden="true"></i>
            <span class="site-menu-title">Widgets</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="widgets/statistics.html">
                    <span class="site-menu-title">Statistics Widgets</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="widgets/data.html">
                    <span class="site-menu-title">Data Widgets</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="widgets/blog.html">
                    <span class="site-menu-title">Blog Widgets</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="widgets/chart.html">
                    <span class="site-menu-title">Chart Widgets</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="widgets/social.html">
                    <span class="site-menu-title">Social Widgets</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="widgets/weather.html">
                    <span class="site-menu-title">Weather Widgets</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-comment-alt-text" aria-hidden="true"></i>
            <span class="site-menu-title">Forms</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="forms/general.html">
                    <span class="site-menu-title">General Elements</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/material.html">
                    <span class="site-menu-title">Material Elements</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/advanced.html">
                    <span class="site-menu-title">Advanced Elements</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/layouts.html">
                    <span class="site-menu-title">Form Layouts</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/wizard.html">
                    <span class="site-menu-title">Form Wizard</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/validation.html">
                    <span class="site-menu-title">Form Validation</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/masks.html">
                    <span class="site-menu-title">Form Masks</span>
                </a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Editors</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="forms/editor-summernote.html">
                            <span class="site-menu-title">Summernote</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="forms/editor-markdown.html">
                            <span class="site-menu-title">Markdown</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="forms/editor-ace.html">
                            <span class="site-menu-title">Ace Editor</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/image-cropping.html">
                    <span class="site-menu-title">Image Cropping</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="forms/file-uploads.html">
                    <span class="site-menu-title">File Uploads</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-border-all" aria-hidden="true"></i>
            <span class="site-menu-title">Tables</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="tables/basic.html">
                    <span class="site-menu-title">Basic Tables</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/bootstrap.html">
                    <span class="site-menu-title">Bootstrap Tables</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/floatthead.html">
                    <span class="site-menu-title">floatThead</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/responsive.html">
                    <span class="site-menu-title">Responsive Tables</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/editable.html">
                    <span class="site-menu-title">Editable Tables</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/jsgrid.html">
                    <span class="site-menu-title">jsGrid</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/footable.html">
                    <span class="site-menu-title">FooTable</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/datatable.html">
                    <span class="site-menu-title">DataTables</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/jqtabledit.html">
                    <span class="site-menu-title">Jquery Tabledit</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="tables/table-dragger.html">
                    <span class="site-menu-title">Table Dragger</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-chart" aria-hidden="true"></i>
            <span class="site-menu-title">Chart</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="charts/chartjs.html">
                    <span class="site-menu-title">Chart.js</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/gauges.html">
                    <span class="site-menu-title">Gauges</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/flot.html">
                    <span class="site-menu-title">Flot</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/peity.html">
                    <span class="site-menu-title">Peity</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/sparkline.html">
                    <span class="site-menu-title">Sparkline</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/morris.html">
                    <span class="site-menu-title">Morris</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/chartist.html">
                    <span class="site-menu-title">Chartist.js</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/rickshaw.html">
                    <span class="site-menu-title">Rickshaw</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/pie-progress.html">
                    <span class="site-menu-title">Pie Progress</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="charts/c3.html">
                    <span class="site-menu-title">C3</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon md-apps" aria-hidden="true"></i>
            <span class="site-menu-title">Apps</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a class="" href="apps/contacts/contacts.html">
                    <span class="site-menu-title">Contacts</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/calendar/calendar.html">
                    <span class="site-menu-title">Calendar</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/notebook/notebook.html">
                    <span class="site-menu-title">Notebook</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/taskboard/taskboard.html">
                    <span class="site-menu-title">Taskboard</span>
                </a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <span class="site-menu-title">Documents</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="" href="apps/documents/articles.html">
                            <span class="site-menu-title">Articles</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="apps/documents/categories.html">
                            <span class="site-menu-title">Categories</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="" href="apps/documents/article.html">
                            <span class="site-menu-title">Article</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/forum/forum.html">
                    <span class="site-menu-title">Forum</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/message/message.html">
                    <span class="site-menu-title">Message</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/projects/projects.html">
                    <span class="site-menu-title">Projects</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/mailbox/mailbox.html">
                    <span class="site-menu-title">Mailbox</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/media/overview.html">
                    <span class="site-menu-title">Media</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/work/work.html">
                    <span class="site-menu-title">Work</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/location/location.html">
                    <span class="site-menu-title">Location</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a class="" href="apps/travel/travel.html">
                    <span class="site-menu-title">Travel</span>
                </a>
            </li>
        </ul>
    </li>
</ul>