---
title: Responsive Tables
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/tablesaw/tablesaw.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/tablesaw/tablesaw.jquery.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/tablesaw.js"></script>
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">Responsive Tables</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
          <li class="breadcrumb-item active">Responsive</li>
        </ol>
        <div class="page-header-actions">
          <a class="btn btn-sm btn-primary btn-round" href="https://github.com/filamentgroup/tablesaw"
            target="_blank">
            <i class="icon md-link" aria-hidden="true"></i>
            <span class="hidden-sm-down">Official Website</span>
          </a>
        </div>
      </div>

      <div class="page-content container-fluid">
        <div class="row">
          <div class="col-xs-12 col-xl-6">
            <!-- Panel Kitchen Sink -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">
                  Kitchen Sink
                  <span class="panel-desc">
                    Swipe Mode, ModeSwitch, Minimap, Sortable, SortableSwitch
                  </span>
                </h3>
              </header>

              <div class="panel-body">
                <table class="tablesaw table-striped table-bordered table-hover" data-tablesaw-mode="swipe"
                  data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
                  data-tablesaw-mode-switch>
                  <thead>
                    <tr>
                      <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist">Movie Title</th>
                      <th data-tablesaw-sortable-col data-tablesaw-priority="3">Rank</th>
                      <th data-tablesaw-sortable-col data-tablesaw-priority="2">Year</th>
                      <th data-tablesaw-sortable-col data-tablesaw-priority="1">
                        <abbr title="Rotten Tomato Rating">Rating</abbr>
                      </th>
                      <th data-tablesaw-sortable-col data-tablesaw-priority="4">Reviews</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="javascript:void(0)">Gone with the Wind</a></td>
                      <td>1</td>
                      <td>2017</td>
                      <td>97%</td>
                      <td>38</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Forrest Gump</a></td>
                      <td>2</td>
                      <td>2014</td>
                      <td>24%</td>
                      <td>71</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">The Sound of Music</a></td>
                      <td>3</td>
                      <td>2014</td>
                      <td>67%</td>
                      <td>73</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Citizen Kane</a></td>
                      <td>4</td>
                      <td>2017</td>
                      <td>16%</td>
                      <td>93</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">On the Waterfront</a></td>
                      <td>5</td>
                      <td>2017</td>
                      <td>59%</td>
                      <td>35</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">The Horse Whisperer</a></td>
                      <td>6</td>
                      <td>2014</td>
                      <td>82%</td>
                      <td>30</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Kramer vs.Kramer</a></td>
                      <td>7</td>
                      <td>2017</td>
                      <td>28%</td>
                      <td>28</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Schindler&#x27;s list</a></td>
                      <td>8</td>
                      <td>2017</td>
                      <td>34%</td>
                      <td>79</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Jane eyre</a></td>
                      <td>9</td>
                      <td>2014</td>
                      <td>81%</td>
                      <td>73</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Random Harvest</a></td>
                      <td>10</td>
                      <td>2017</td>
                      <td>29%</td>
                      <td>47</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Piano,the</a></td>
                      <td>11</td>
                      <td>2014</td>
                      <td>80%</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">Corpse Bride</a></td>
                      <td>12</td>
                      <td>2017</td>
                      <td>23%</td>
                      <td>29</td>
                    </tr>
                    <tr>
                      <td><a href="javascript:void(0)">the Fifth Element</a></td>
                      <td>13</td>
                      <td>2014</td>
                      <td>38%</td>
                      <td>15</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Kitchen Sink -->

            <!-- Panel Exclude Columntoggle -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">Exclude Columntoggle Mode</h3>
              </header>

              <div class="panel-body">
                <table class="tablesaw table-striped table-bordered" data-tablesaw-mode="swipe"
                  data-tablesaw-mode-switch data-tablesaw-minimap data-tablesaw-mode-exclude="columntoggle">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Movie Title</th>
                      <th>Year</th>
                      <th>
                        <abbr title="Rotten Tomato Rating">Rating</abbr>
                      </th>
                      <th>Reviews</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td><a href="javascript:void(0)" data-rel="external">Gone with the Wind</a></td>
                      <td>2014-02-23</td>
                      <td>97%</td>
                      <td>56</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td><a href="javascript:void(0)" data-rel="external">Forrest Gump</a></td>
                      <td>2017-1-15</td>
                      <td>83%</td>
                      <td>69</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td><a href="javascript:void(0)" data-rel="external">The Sound of Music</a></td>
                      <td>2014-08-6</td>
                      <td>67%</td>
                      <td>73</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td><a href="javascript:void(0)" data-rel="external">Citizen Kane</a></td>
                      <td>2017-03-15</td>
                      <td>76%</td>
                      <td>93</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td><a href="javascript:void(0)" data-rel="external">On the Waterfront</a></td>
                      <td>2017-3-27</td>
                      <td>68%</td>
                      <td>78</td>
                    </tr>
                    <tr>
                      <th>6</th>
                      <td><a href="javascript:void(0)" data-rel="external">The Horse Whisperer</a></td>
                      <td>2014-09-27</td>
                      <td>85%</td>
                      <td>98</td>
                    </tr>
                    <tr>
                      <th>7</th>
                      <td><a href="javascript:void(0)" data-rel="external">Kramer vs.Kramer</a></td>
                      <td>2017-1-29</td>
                      <td>76%</td>
                      <td>87</td>
                    </tr>
                    <tr>
                      <th>8</th>
                      <td><a href="javascript:void(0)" data-rel="external">Schindler&#x27;s list</a></td>
                      <td>2017-02-21</td>
                      <td>96%</td>
                      <td>79</td>
                    </tr>
                    <tr>
                      <th>9</th>
                      <td><a href="javascript:void(0)" data-rel="external">Jane eyre</a></td>
                      <td>2013-08-28</td>
                      <td>77%</td>
                      <td>65</td>
                    </tr>
                    <tr>
                      <th>10</th>
                      <td><a href="javascript:void(0)" data-rel="external">Random Harvest</a></td>
                      <td>2017-02-18</td>
                      <td>60%</td>
                      <td>91</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Exclude Columntoggle -->

            <!-- Panel Column Toggle -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">Column Toggle</h3>
              </header>
              <div class="panel-body">
                <table class="tablesaw table-striped table-bordered" data-tablesaw-mode="columntoggle"
                  data-tablesaw-minimap>
                  <thead>
                    <tr>
                      <th data-tablesaw-priority="3">Rank</th>
                      <th data-tablesaw-priority="persist">Movie Title</th>
                      <th data-tablesaw-priority="2">Year</th>
                      <th data-tablesaw-priority="1">
                        <abbr title="Rotten Tomato Rating">Rating</abbr>
                      </th>
                      <th data-tablesaw-priority="4">Reviews</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td><a href="javascript:void(0)" data-rel="external">Jurassic Park</a></td>
                      <td>2017</td>
                      <td>100%</td>
                      <td>74</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td><a href="javascript:void(0)" data-rel="external">Casablanca</a></td>
                      <td>2014</td>
                      <td>97%</td>
                      <td>64</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td><a href="javascript:void(0)" data-rel="external">The Godfather</a></td>
                      <td>2009</td>
                      <td>97%</td>
                      <td>87</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td><a href="javascript:void(0)" data-rel="external">Legends of The Fall</a></td>
                      <td>2017</td>
                      <td>96%</td>
                      <td>87</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td><a href="javascript:void(0)" data-rel="external">Indepedence Day</a></td>
                      <td>2008</td>
                      <td>94%</td>
                      <td>87</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Column Toggle -->
          </div>

          <div class="col-xs-12 col-xl-6">
            <!-- Panel Mode Switch -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">Mode Switch Table</h3>
              </header>
              <div class="panel-body">
                <table class="tablesaw table-striped" data-tablesaw-mode="swipe" data-tablesaw-mode-switch
                  data-tablesaw-minimap>
                  <thead>
                    <tr>
                      <th data-tablesaw-priority="3">Rank</th>
                      <th data-tablesaw-priority="persist">Movie Title</th>
                      <th data-tablesaw-priority="2">Year</th>
                      <th data-tablesaw-priority="1">
                        <abbr title="Rotten Tomato Rating">Rating</abbr>
                      </th>
                      <th data-tablesaw-priority="4">Reviews</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td><a href="javascript:void(0)" data-rel="external">Hot Shots!</a></td>
                      <td>2001</td>
                      <td>100%</td>
                      <td>74</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td><a href="javascript:void(0)" data-rel="external">the Graduate</a></td>
                      <td>2012</td>
                      <td>97%</td>
                      <td>64</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td><a href="javascript:void(0)" data-rel="external">Gone In 60 Seconds</a></td>
                      <td>1993</td>
                      <td>97%</td>
                      <td>87</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td><a href="javascript:void(0)" data-rel="external">Fight Club</a></td>
                      <td>2017</td>
                      <td>96%</td>
                      <td>87</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td><a href="javascript:void(0)" data-rel="external">Evolution</a></td>
                      <td>2006</td>
                      <td>94%</td>
                      <td>87</td>
                    </tr>
                    <tr>
                      <th>6</th>
                      <td><a href="javascript:void(0)" data-rel="external">Dead Poets Society</a></td>
                      <td>2011</td>
                      <td>92%</td>
                      <td>74</td>
                    </tr>
                    <tr>
                      <th>7</th>
                      <td><a href="javascript:void(0)" data-rel="external">Corpse Bride</a></td>
                      <td>2014</td>
                      <td>91%</td>
                      <td>122</td>
                    </tr>
                    <tr>
                      <th>8</th>
                      <td><a href="javascript:void(0)" data-rel="external">Chinatown</a></td>
                      <td>2001</td>
                      <td>90%</td>
                      <td>72</td>
                    </tr>
                    <tr>
                      <th>9</th>
                      <td><a href="javascript:void(0)" data-rel="external">Singin&#x27; in the Rain</a></td>
                      <td>1999</td>
                      <td>89%</td>
                      <td>85</td>
                    </tr>
                    <tr>
                      <th>10</th>
                      <td><a href="javascript:void(0)" data-rel="external">Brokeback Moutain</a></td>
                      <td>2010</td>
                      <td>84%</td>
                      <td>79</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Mode Switch -->

            <!-- Panel Sortable -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">
                  Sortable
                  <span class="panel-desc">
                    Default appearance (with optional sortable-switch &lt;select&gt;)
                  </span>
                </h3>
              </header>
              <div class="panel-body">
                <table class="tablesaw table-bordered table-hover" data-tablesaw-mode="swipe" data-tablesaw-sortable
                  data-tablesaw-sortable-switch>
                  <thead>
                    <tr>
                      <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Rank</th>
                      <th data-tablesaw-sortable-col>Movie Title</th>
                      <th id="third" data-tablesaw-sortable-col>Year</th>
                      <th data-tablesaw-sortable-col>
                        <abbr title="Rotten Tomato Rating">Rating</abbr>
                      </th>
                      <th>Reviews</th>
                      <th data-tablesaw-sortable-col data-sortable-numeric>Box Office</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td><a href="javascript:void(0)" data-rel="external">Boys Don&#x27;t Cry</a></td>
                      <td>2013</td>
                      <td>100%</td>
                      <td>74</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>1.1</th>
                      <td><a href="javascript:void(0)" data-rel="external">Bruce Almighty</a></td>
                      <td>1995</td>
                      <td>97%</td>
                      <td>64</td>
                      <td>$1M</td>
                    </tr>
                    <tr>
                      <th>1.2</th>
                      <td><a href="javascript:void(0)" data-rel="external">The Godfather</a></td>
                      <td>2014</td>
                      <td>97%</td>
                      <td>87</td>
                      <td>$12M</td>
                    </tr>
                    <tr>
                      <th>1.3</th>
                      <td><a href="javascript:void(0)" data-rel="external">A Beautiful Mind</a></td>
                      <td>2009</td>
                      <td>96%</td>
                      <td>87</td>
                      <td>$4.2M</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td><a href="javascript:void(0)" data-rel="external">Lawrence of Arabia</a></td>
                      <td>2014</td>
                      <td>94%</td>
                      <td>87</td>
                      <td>$1M</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td><a href="javascript:void(0)" data-rel="external">Dr. Strangelove ...</a></td>
                      <td>2006</td>
                      <td>92%</td>
                      <td>74</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td><a href="javascript:void(0)" data-rel="external">Big Fish</a></td>
                      <td>2017</td>
                      <td>91%</td>
                      <td>122</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td><a href="javascript:void(0)" data-rel="external">Die Hard 1</a></td>
                      <td>1998</td>
                      <td>90%</td>
                      <td>72</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>6</th>
                      <td><a href="javascript:void(0)" data-rel="external">Good Will Hunting</a></td>
                      <td>2005</td>
                      <td>89%</td>
                      <td>85</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>7</th>
                      <td><a href="javascript:void(0)" data-rel="external">I, Robots</a></td>
                      <td>2011</td>
                      <td>84%</td>
                      <td>79</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>8</th>
                      <td><a href="javascript:void(0)" data-rel="external">Leon, the Profesional</a></td>
                      <td>2012</td>
                      <td>84%</td>
                      <td>79</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>9</th>
                      <td><a href="javascript:void(0)" data-rel="external">Inception</a></td>
                      <td>2010</td>
                      <td>84%</td>
                      <td>79</td>
                      <td>$2M</td>
                    </tr>
                    <tr>
                      <th>10</th>
                      <td><a href="javascript:void(0)" data-rel="external">Lethal Weapon 2</a></td>
                      <td>2017</td>
                      <td>84%</td>
                      <td>79</td>
                      <td>$2M</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Sortable -->

            <!-- Panel Swipe -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">Swipe</h3>
              </header>
              <div class="panel-body">
                <table class="tablesaw table-hover table-bordered" data-tablesaw-mode="swipe" data-tablesaw-minimap>
                  <thead>
                    <tr>
                      <th data-tablesaw-priority="persist">Name</th>
                      <th>Rank</th>
                      <th>Money</th>
                      <th>Money</th>
                      <th>A (1&ndash;5)</th>
                      <th>B (1&ndash;5)</th>
                      <th>C (%)</th>
                      <th>D (1&ndash;5)</th>
                      <th>E (1&ndash;5)</th>
                      <th>F (1&ndash;5)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th><a href="javascript:void(0)">Amanda</a></th>
                      <td>1</td>
                      <td>18.72</td>
                      <td>18.72</td>
                      <td>5</td>
                      <td>5</td>
                      <td>98</td>
                      <td>4</td>
                      <td>5</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <th><a href="javascript:void(0)">Dave</a></th>
                      <td>2</td>
                      <td>20.52</td>
                      <td>20.52</td>
                      <td>4</td>
                      <td>3</td>
                      <td>87</td>
                      <td>5</td>
                      <td>3</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <th><a href="javascript:void(0)">Kristen</a></th>
                      <td>3</td>
                      <td>21.36</td>
                      <td>21.36</td>
                      <td>2</td>
                      <td>5</td>
                      <td>89</td>
                      <td>4</td>
                      <td>5</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <th><a href="javascript:void(0)">Kenny</a></th>
                      <td>4</td>
                      <td>27.15</td>
                      <td>27.15</td>
                      <td>4</td>
                      <td>4</td>
                      <td>98</td>
                      <td>5</td>
                      <td>4</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Swipe -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}