<div class="page-content vertical-align-middle">
    <p style="
    font-size: 125px;
    line-height: 0.75;
    font-weight: 100;
    letter-spacing: -0.05em;
    margin-left: -11px;
    color: #3949ab;
">404<span style="
    display: block;
    font-size: 45px;
    letter-spacing: 0.3em;
    padding-left: 25px;
    line-height: 1;
    text-transform: uppercase;
">error</span>
    </p>
    <a href="javascript:;" ui-sref="app.crm.dash">Omni{{ homeCtrl.person.name | upper }} CRM</a>
</div>