---
title: Media Overview
body_class: app-media page-aside-left
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/media.css">
  {{/content}}


  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/sticky-header.js"></script>
    <script src="{{assets}}/js/Plugin/asscrollable.js"></script>
    <script src="{{assets}}/js/Plugin/animate-list.js"></script>
    <script src="{{assets}}/js/Plugin/action-btn.js"></script>
    <script src="{{assets}}/js/Plugin/asselectable.js"></script>
    <script src="{{assets}}/js/Plugin/selectable.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/BaseApp.js"></script>
    <script src="{{assets}}/js/App/Media.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/media.js"></script>
  {{/content}}

  {{#content "body"}}


    <div class="page bg-white">
      <!-- Media Sidebar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon md-chevron-left" aria-hidden="true"></i>
          <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner page-aside-scroll">
          <div data-role="container">
            <div data-role="content">
              <section class="page-aside-section">
                <h5 class="page-aside-title">Main</h5>
                <div class="list-group">
                  <a class="list-group-item active" href="javascript:void(0)"><i class="icon md-view-dashboard" aria-hidden="true"></i>Overview</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-image-o" aria-hidden="true"></i>Activity</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-favorite" aria-hidden="true"></i>Dearest</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-folder" aria-hidden="true"></i>Folders</a>
                </div>
              </section>
              <section class="page-aside-section">
                <h5 class="page-aside-title">Filter</h5>
                <div class="list-group">
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-image" aria-hidden="true"></i>Images</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-volume-up" aria-hidden="true"></i>Audio</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-videocam" aria-hidden="true"></i>Video</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-file" aria-hidden="true"></i>Notes</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-link" aria-hidden="true"></i>Links</a>
                  <a class="list-group-item" href="javascript:void(0)"><i class="icon md-receipt" aria-hidden="true"></i>Files</a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-main">

        <!-- Media Content Header -->
        <div class="page-header">
          <h1 class="page-title">Overview</h1>
          <div class="page-header-actions">
            <form>
              <div class="input-search input-search-dark">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search...">
              </div>
            </form>
          </div>
        </div>

        <!-- Media Content -->
        <div id="mediaContent" class="page-content page-content-table" data-plugin="selectable">

          <!-- Actions -->
          <div class="page-content-actions">
            <div class="pull-xs-right">
              <div class="btn-group media-arrangement btn-group-flat" role="group">
                <button class="btn btn-default active" id="arrangement-grid" type="button"><i class="icon md-view-module" aria-hidden="true"></i></button>
                <button class="btn btn-default" id="arrangement-list" type="button"><i class="icon md-view-list" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="actions-inner">
              <div class="checkbox-custom checkbox-primary checkbox-lg">
                <input type="checkbox" id="media_all" class="selectable-all">
                <label for="media_all"></label>
              </div>
            </div>
          </div>

          <!-- Media -->
          <div class="media-list is-grid p-b-50" data-plugin="animateList" data-animate="fade"
            data-child="li">
            <ul class="blocks blocks-100 blocks-xxl-4 blocks-xl-3 blocks-lg-3 blocks-md-2 blocks-sm-2"
              data-plugin="animateList" data-child=">li">
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_1" />
                    <label for="media_1"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Lorem ipsum</div>
                    <div class="time">1 minutes ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_2" />
                    <label for="media_2"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Voluptate pariatur</div>
                    <div class="time">20 minutes ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_3" />
                    <label for="media_3"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Laboris Excepteur</div>
                    <div class="time">1 hour ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_4" />
                    <label for="media_4"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Consequat ullamco</div>
                    <div class="time">3 hours ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_5" />
                    <label for="media_5"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Eiusmod amet</div>
                    <div class="time">7 hours ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_6" />
                    <label for="media_6"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">ullamco quis</div>
                    <div class="time">16 hours ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_7" />
                    <label for="media_7"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Reprehenderit</div>
                    <div class="time">1 day ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_8" />
                    <label for="media_8"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Ullamco fugiat</div>
                    <div class="time">2 days ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_9" />
                    <label for="media_9"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Dolor veniam</div>
                    <div class="time">3 days ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_10" />
                    <label for="media_10"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Minim officia</div>
                    <div class="time">7 days ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_11" />
                    <label for="media_11"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">cupidatat fugiat</div>
                    <div class="time">1 week ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" class="selectable-item" id="media_12" />
                    <label for="media_12"></label>
                  </div>
                  <div class="image-wrap">
                    <img class="image img-rounded" src="{{assets}}/photos/placeholder.png" alt="...">
                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon md-settings" data-toggle="dropdown" aria-expanded="false" role="button"
                        data-animation="scale-up"></span>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a>
                      </div>
                    </div>
                    <div class="title">Fugiat nisi</div>
                    <div class="time">2 weeks ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Edit" data-toggle="tooltip"
                        data-container="body" data-placement="top" data-trigger="hover"
                        type="button">
                        <i class="icon md-edit" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                        data-toggle="tooltip" data-container="body" data-placement="top"
                        data-trigger="hover" type="button">
                        <i class="icon md-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="site-action" data-plugin="actionBtn">
      <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating">
        <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
        <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
      </button>
      <div class="site-action-buttons">
        <button type="button" data-action="download" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
          <i class="icon md-download" aria-hidden="true"></i>
        </button>
        <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
          <i class="icon md-delete" aria-hidden="true"></i>
        </button>
      </div>
      <input type="file" id="fileupload" name="upload" />
    </div>

  {{/content}}
{{/extend}}