---
title: Panel Structure
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/asscrollable/asScrollable.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/asprogress/jquery-asProgress.js"></script>
    <script src="{{assets}}/vendor/draggabilly/draggabilly.pkgd.js"></script>
    <script src="{{assets}}/vendor/raty/jquery.raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/responsive-tabs.js"></script>
    <script src="{{assets}}/js/Plugin/tabs.js"></script>
    <script src="{{assets}}/js/Plugin/asprogress.js"></script>
    <script src="{{assets}}/js/Plugin/panel.js"></script>
    <script src="{{assets}}/js/Plugin/asscrollable.js"></script>
    <script src="{{assets}}/js/Plugin/raty.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/uikit/panel-structure.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="breadcrumb-item active">Basic UI</li>
        </ol>
        <h1 class="page-title">Panel Structure</h1>
        <div class="page-header-actions">
          <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
            data-original-title="Edit">
            <i class="icon md-edit" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
            data-original-title="Refresh">
            <i class="icon md-refresh-alt" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
            data-original-title="Setting">
            <i class="icon md-settings" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <!-- Page Content -->
      <div class="page-content container-fluid">
        <div class="row">
          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With Heading -->
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Heading</h3>
              </div>
              <div class="panel-body">
                <h4>Body Heading</h4>
                <p>Easily add a heading container to your panel with <code>.panel-heading</code>.
                  You may also include any <code>&lt;h1&gt;</code>-<code>&lt;h6&gt;</code>                  with a <code>.panel-title</code> class to add a pre-styled heading.</p>
                <p>For proper link coloring, be sure to place links in headings within
                  <code>.panel-title</code>.</p>
              </div>
            </div>
            <!-- End Example Panel With Heading -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With Footer -->
            <div class="panel panel-bordered">
              <div class="panel-body">
                <h4>Body Heading</h4>
                <p>Wrap buttons or secondary text in <code>.panel-footer</code>. Note
                  that panel footers do not inherit colors and borders when using
                  contextual variations as they are not meant to be in the foreground.</p>
              </div>
              <div class="panel-footer">Panel Footer</div>
            </div>
            <!-- End Example Panel With Footer -->
          </div>

          <div class="clearfix hidden-md-down hidden-xxl-up"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With All -->
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Heading</h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</P>
              </div>
              <div class="panel-footer">Panel Footer</div>
            </div>
            <!-- End Example Panel With All -->
          </div>

          <div class="clearfix hidden-xl-down"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Heading With Desc -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Heading With Desc
                  <small>Panel Description Here..</small>
                </h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</P>
              </div>
            </div>
            <!-- End Example Heading With Desc -->
          </div>

          <div class="clearfix hidden-md-down hidden-xxl-up"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Heading With Desc Bottom -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Heading With Desc Bottom
                  <span class="panel-desc">Panel Description Here..</span>
                </h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit.</p>
              </div>
            </div>
            <!-- End Example Heading With Desc Bottom -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Heading With Tag -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Heading With Tag
                  <span class="tag tag-primary">New</span>
                </h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
            <!-- End Example Heading With Tag -->
          </div>

          <div class="clearfix"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Heading Icon -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="icon md-case" aria-hidden="true"></i>Heading Icon</h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Deserunt et dolore tempor do ullamco velit magna elit
                  reprehenderit laboris laborum reprehenderit do voluptate officia
                  eiusmod elit irure reprehenderit Duis ea mollit eiusmod consectetur
                  qui enim dolor enim ex qui aute culpa sit.</p>
              </div>
            </div>
            <!-- End Example Heading Icon -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Heading With Links -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Heading With Links</h3>
                <ul class="panel-actions panel-actions-keep">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                </ul>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Magna qui labore amet qui id consequat adipisicing
                  irure consectetur qui minim eu nulla deserunt aliquip et sed
                  anim proident culpa ad aliquip consequat minim reprehenderit
                  proident cupidatat velit in eiusmod laborum aliqua in.</p>
              </div>
            </div>
            <!-- End Example Heading With Links -->
          </div>

          <div class="clearfix hidden-md-down hidden-xxl-up"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Heading With Dropdown -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Heading With Dropdown</h3>
                <div class="panel-actions panel-actions-keep">
                  <div class="dropdown">
                    <a class="panel-action" id="examplePanelDropdown" data-toggle="dropdown" href="#"
                      aria-expanded="false" role="button"><i class="icon md-more-vert" aria-hidden="true"></i></a>
                    <div class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown"
                      role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-mail-reply" aria-hidden="true"></i> Reply</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-share" aria-hidden="true"></i> Share</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-delete" aria-hidden="true"></i> Delete</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Dolor dolor enim Ut consequat tempor quis minim enim
                  sit ad in qui Ut in ut elit minim quis eiusmod reprehenderit
                  aute cillum consequat enim Ut veniam labore dolor anim quis ullamco
                  in cupidatat dolore ut amet elit sint magna exercitation aliquip.</p>
              </div>
            </div>
            <!-- End Example Heading With Dropdown -->
          </div>

          <div class="clearfix hidden-xl-down"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel Alert -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Alert</h3>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                Lorem ipsum dolor sit amet, <a class="alert-link" href="javascript:void(0)">consectetur adipisicing elit</a>.
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                  nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed
                  nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                  ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                  Mauris massa.</p>
              </div>
            </div>
            <!-- End Example Panel Alert -->
          </div>

          <div class="clearfix hidden-md-down hidden-xxl-up"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel Tables -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Tables</h3>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Jason</td>
                    <td>Wu</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Example Panel Tables -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With List Group -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With List Group</h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Mollit et minim commodo est labore fugiat id Ut in
                  ut exercitation aute esse Ut do irure non dolore id anim dolore
                  in ad incididunt elit eiusmod sed dolor labore sunt est consectetur
                  sint ex Duis Ut officia pariatur.</p>
              </div>
              <ul class="list-group list-group-bordered">
                <li class="list-group-item">Dapibus ac facilisis</li>
                <li class="list-group-item">Morbi leo risus</li>
              </ul>
            </div>
            <!-- End Example Panel With List Group -->
          </div>

          <div class="clearfix"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With List Group Inner -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Inner List Group</h3>
              </div>
              <div class="panel-body">
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra
                  augue. Aenean lacinia bibendum nulla sed consectetur.</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/9.jpg"
                            alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Willard Wood</h4>
                        <div>Cras sit amet nibh libero, in gravida nulla. Nulla vel
                          metus.</div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/10.jpg"
                            alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Ronnie Ellis</h4>
                        <div>Porta ac consectetur ac. Porta ac consectetur ac.</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Example Panel List Group Inner -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Tabs In The Panel -->
            <div class="panel nav-tabs-horizontal" data-plugin="tabs">
              <div class="panel-heading">
                <h3 class="panel-title">Tabs In The Panel</h3>
              </div>
              <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#exampleTopHome"
                    aria-controls="exampleTopHome" role="tab"><i class="icon md-home" aria-hidden="true"></i>Home</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopComponents"
                    aria-controls="exampleTopComponents" role="tab"><i class="icon md-account" aria-hidden="true"></i>Components</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopCss" aria-controls="exampleTopCss"
                    role="tab"><i class="icon md-label" aria-hidden="true"></i>CSS</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopJavascript"
                    aria-controls="exampleTopJavascript" role="tab"><i class="icon md-cloud" aria-hidden="true"></i>JavaScript</a></li>
                <li class="dropdown nav-item">
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false"
                    aria-haspopup="true">Dropdown </a>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item active" data-toggle="tab" href="#exampleTopHome" aria-controls="exampleTopHome"
                      role="tab"><i class="icon md-home" aria-hidden="true"></i>Home</a>
                    <a class="dropdown-item" data-toggle="tab" href="#exampleTopComponents" aria-controls="exampleTopComponents"
                      role="tab"><i class="icon md-account" aria-hidden="true"></i>Components</a>
                    <a class="dropdown-item" data-toggle="tab" href="#exampleTopCss" aria-controls="exampleTopCss"
                      role="tab"><i class="icon md-label" aria-hidden="true"></i>CSS</a>
                    <a class="dropdown-item" data-toggle="tab" href="#exampleTopJavascript" aria-controls="exampleTopJavascript"
                      role="tab"><i class="icon md-cloud" aria-hidden="true"></i>JavaScript</a>
                  </div>
                </li>
              </ul>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="exampleTopHome" role="tabpanel">
                    Conturbamur senectutem saepti statua, putanda homini acuti dialectica levamur urbanitas
                    animadversionem mala se depulsa, magis nihilo efficeret tenetur
                    cives gloriae concursio defendit conscientiam nascuntur, refugiendi
                    defendit falsi platonem paranda metum iustioribus cognita robustus,
                    tuum omnia usque omnis temperantiam quaeri electram.
                  </div>
                  <div class="tab-pane" id="exampleTopComponents" role="tabpanel">
                    Protervi dissensio consuetudine equos publicam ingenia. Voluptatibus legendus initia
                    confirmare sententiam. Desistunt possint habeatur dediti dubio,
                    triarium is offendimur reprehenderit exercitus laudabilis motus
                    celeritas, utrum dissentio renovata, habet partus natus. Iustius
                    disserunt, quantum ennii admodum divinum mortem elaborare primum
                    autem.
                  </div>
                  <div class="tab-pane" id="exampleTopCss" role="tabpanel">
                    Incurrunt latinam, faciendi dedecora evertitur delicatissimi, afficit noctesque
                    detracta illustriora epicurum contenta rogatiuncula dolores
                    perspecta indocti, eveniunt confirmatur tractat consuevit durissimis
                    iuvaret coercendi familiarem. Dolere prima fortunae intellegamus
                    vix porro huic errorem molestum, graecos deinde effugiendorum
                    aliter appetendum afferrent eosdem.
                  </div>
                  <div class="tab-pane" id="exampleTopJavascript" role="tabpanel">
                    Dediti iniuste vitae dedecora victi, pueros vulgo adhibenda at gravis epicurus
                    alii facerem, aetatis. Rectas, splendide sensus ruinae dolendum
                    audire ipse, loca mollis manilium concordia depravate congressus
                    fruenda. Nocet magna tradere hunc grata gloriosis animus dum
                    consumere gravissimas. Erunt alii.
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Tabs In The Panel -->
          </div>

          <div class="clearfix hidden-md-down hidden-xxl-up"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Tabs In The Bottom -->
            <div class="panel nav-tabs-horizontal" data-plugin="tabs">
              <div class="panel-heading">
                <h3 class="panel-title">Tabs In The Panel</h3>
              </div>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="exampleBottomHome" role="tabpanel">
                    Desideret pueros severitatem sed. Leniter a inveniri animal praeceptrice molestum
                    insatiabiles negant voluptaria, diligi meminerunt. Initia offendimur
                    confectum mundus fecerit legatis optari, domesticarum eadem
                    mandamus admodum nominant maiorum, putem, intellegitur magna
                    recusandae. Levius puerilis religionis elegantis facile praeclara
                    que delectet.
                  </div>
                  <div class="tab-pane" id="exampleBottomComponents" role="tabpanel">
                    Nec urbane libidinum otiosum aspernatur solum, percurri placuit collaudata parentes
                    oportet delectu ad amicos, primis facultas theseo metus tutiorem
                    huc negat cupiditates. Intellegimus magis suo motu appetere
                    brutus atque loqueretur locus litteris, diogenem probabis moribus
                    utinam firmitatem dolendum expetenda late.
                  </div>
                  <div class="tab-pane" id="exampleBottomCss" role="tabpanel">
                    Adversarium claris erunt utramque temperantia soleat, impetum cives aut, appellant
                    sanos tradit, naturam, sophocles, timiditatem cuiquam quale
                    unam factorum morati, status apud laboramus partitio saluto
                    malit exeduntur alia divelli, unde pauca repugnantibus iniucundus
                    autem malit debent. Consilio praeclaram conflixisse vero.
                  </div>
                  <div class="tab-pane" id="exampleBottomJavascript" role="tabpanel">
                    Legimus eorum caeco iustitia perpetua, utuntur inopem dolemus capti, aliquid civibus
                    domo perpessio occultarum panaetium scientiam. Successionem
                    conciliant habemus omnis virtus arbitrium obcaecati modi, torquatus
                    movere mea oculis horrida, infinitis appellant, metum perturbatur.
                    Plena retinent veriusque tranquillitatem quod dubio opinemur.
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs nav-tabs-bottom nav-tabs-line dropup" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#exampleBottomHome"
                    aria-controls="exampleBottomHome" role="tab"><i class="icon md-home" aria-hidden="true"></i>Home</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleBottomComponents"
                    aria-controls="exampleBottomComponents" role="tab"><i class="icon md-account" aria-hidden="true"></i>Components</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleBottomCss"
                    aria-controls="exampleBottomCss" role="tab"><i class="icon md-label" aria-hidden="true"></i>CSS</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleBottomJavascript"
                    aria-controls="exampleBottomJavascript" role="tab"><i class="icon md-cloud" aria-hidden="true"></i>JavaScript</a></li>
                <li class="nav-item dropdown">
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false"
                    aria-haspopup="true">Dropdown</a>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item active" data-toggle="tab" href="#exampleBottomHome" aria-controls="exampleTopHome"
                      role="tab"><i class="icon md-home" aria-hidden="true"></i>Home</a>
                    <a class="dropdown-item" data-toggle="tab" href="#exampleBottomComponents" aria-controls="exampleTopComponents"
                      role="tab"><i class="icon md-account" aria-hidden="true"></i>Components</a>
                    <a class="dropdown-item" data-toggle="tab" href="#exampleBottomCss" aria-controls="exampleTopCss"
                      role="tab"><i class="icon md-label" aria-hidden="true"></i>CSS</a>
                    <a class="dropdown-item" data-toggle="tab" href="#exampleBottomJavascript" aria-controls="exampleTopJavascript"
                      role="tab"><i class="icon md-cloud" aria-hidden="true"></i>JavaScript</a>
                  </div>
                </li>
              </ul>
            </div>
            <!-- End Example Tabs In The Bottom -->
          </div>

          <div class="clearfix hidden-xl-down"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Transparent Panel -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <h3 class="panel-title">Transparent Panel</h3>
                <div class="panel-actions panel-actions-keep">
                  <a class="panel-action icon md-minus" aria-controls="exampleTransparentBody" aria-expanded="true"
                    data-toggle="panel-collapse" href="#exampleTransparentBody" aria-hidden="true"></a>
                  <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Ea aliquip minim aliqua sunt qui cupidatat minim qui
                  nisi nisi dolore Ut enim aliquip eiusmod proident tempor non
                  voluptate voluptate aute ea mollit veniam nisi sint proident
                  sed velit est non voluptate magna amet dolor labore elit magna
                  cupidatat aliquip.</p>
              </div>
            </div>
            <!-- End Example Transparent Panel -->
          </div>

          <div class="clearfix hidden-md-down hidden-xxl-up"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel Clickable -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Clickable</h3>
                <div class="panel-actions">
                  <button class="btn btn-flat btn-default btn-block" id="exampleButtonRandom" type="button">random</button>
                </div>
              </div>
              <div class="panel-body">
                <div class="progress progress-sm m-t-10" data-goal="25" data-plugin="progress">
                  <div class="progress-bar" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25"
                    role="progressbar"></div>
                </div>
                <div class="progress progress-sm" data-goal="-40" data-plugin="progress">
                  <div class="progress-bar" aria-valuemin="-100" aria-valuemax="0" aria-valuenow="-40"
                    role="progressbar"></div>
                </div>
                <div class="progress progress-sm" data-goal="80" data-plugin="progress">
                  <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"
                    role="progressbar"></div>
                </div>
                <div class="progress progress-sm" data-goal="30" data-plugin="progress">
                  <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="30"
                    role="progressbar"></div>
                </div>
              </div>
            </div>
            <!-- End Example Panel Clickable -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel Progressbar -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Progressbar</h3>
                <div class="panel-actions">
                  <div class="progress progress-xs w-xs-150 w-lg-100">
                    <div class="progress-bar" style="width: 80%;">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                  nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed
                  nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                  ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                  Mauris massa. </p>
              </div>
            </div>
            <!-- End Example Panel Progressbar -->
          </div>

          <div class="clearfix"></div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With Tags And Tag-pills -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Tags And Tag-pills</h3>
                <div class="panel-actions panel-actions-keep">
                  <span class="tag tag-primary">Tag</span>
                  <span class="tag tag-pill tag-danger">Tag-pill</span>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Esse labore mollit labore pariatur quis ut ex cillum
                  cillum quis dolor aliqua dolor amet qui velit dolor fugiat.</p>
              </div>
            </div>
            <!-- End Example Panel With Tags And Tag-pills -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With Toggle -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Toggle</h3>
                <div class="panel-actions panel-actions-keep">
                  <input type="checkbox" data-plugin="switchery" data-size="small" checked />
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Qui veniam adipisicing aute occaecat proident elit
                  dolor aliqua nostrud ex in ad eu dolore mollit exercitation dolor.</p>
              </div>
            </div>
            <!-- End Example Panel With Toggle -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-xs-12">
            <!-- Example Panel With Input Group -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Input Group</h3>
                <div class="panel-actions">
                  <div class="input-search input-group-sm">
                    <button type="submit" class="input-search-btn">
                      <i class="icon md-search" aria-hidden="true"></i>
                    </button>
                    <input type="text" class="form-control" name="" placeholder="Search...">
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum Duis mollit enim dolor velit aliquip magna incididunt
                  adipisicing in elit anim ut enim est cupidatat eu cillum exercitation.</p>
              </div>
            </div>
            <!-- End Example Panel With Input Group -->
          </div>

          <div class="clearfix"></div>

          <!-- Example Panel-heading with tabs -->
          <div class="col-lg-6 col-xs-12">
            <div class="panel nav-tabs-horizontal nav-tabs-inverse" data-plugin="tabs">
              <div class="panel-heading panel-heading-tab">
                <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#panelTab1"
                      aria-controls="panelTab1" role="tab" aria-expanded="true">tab1</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#panelTab2" aria-controls="panelTab2"
                      role="tab">tab2</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#panelTab3" aria-controls="panelTab3"
                      role="tab">tab3</a></li>
                </ul>
              </div>
              <div class="panel-body p-t-20">
                <div class="tab-content">
                  <div class="tab-pane active" id="panelTab1" role="tabpanel">
                    <h4>Tabs In Heading</h4>
                    Conturbamur senectutem saepti statua, putanda homini acuti dialectica levamur urbanitas
                    animadversionem mala se depulsa, magis nihilo efficeret tenetur
                    cives gloriae concursio defendit conscientiam nascuntur, refugiendi
                    defendit falsi platonem paranda metum iustioribus cognita robustus,
                    tuum omnia usque omnis temperantiam quaeri electram.
                  </div>
                  <div class="tab-pane" id="panelTab2" role="tabpanel">
                    <h4>Protervi dissensio</h4>
                    Protervi dissensio consuetudine equos publicam ingenia. Voluptatibus legendus initia
                    confirmare sententiam. Desistunt possint habeatur dediti dubio,
                    triarium is offendimur reprehenderit exercitus laudabilis motus
                    celeritas, utrum dissentio renovata, habet partus natus. Iustius
                    disserunt, quantum ennii admodum divinum mortem elaborare primum
                    autem.
                  </div>
                  <div class="tab-pane" id="panelTab3" role="tabpanel">
                    <h4>Incurrunt latinam</h4>
                    Incurrunt latinam, faciendi dedecora evertitur delicatissimi, afficit noctesque
                    detracta illustriora epicurum contenta rogatiuncula dolores
                    perspecta indocti, eveniunt confirmatur tractat consuevit durissimis
                    iuvaret coercendi familiarem. Dolere prima fortunae intellegamus
                    vix porro huic errorem molestum, graecos deinde effugiendorum
                    aliter appetendum afferrent eosdem.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12">
            <div class="panel nav-tabs-horizontal" data-plugin="tabs">
              <div class="panel-heading p-30 p-b-0 p-t-10">
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#cardTab1"
                      aria-controls="cardTab1" role="tab" aria-expanded="true">tab0</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cardTab2" aria-controls="cardTab2"
                      role="tab">tab1</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cardTab3" aria-controls="cardTab3"
                      role="tab">tab2</a></li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="cardTab1" role="tabpanel">
                    <h4>Tabs In Heading</h4>
                    Conturbamur senectutem saepti statua, putanda homini acuti dialectica levamur urbanitas
                    animadversionem mala se depulsa, magis nihilo efficeret tenetur
                    cives gloriae concursio defendit conscientiam nascuntur, refugiendi
                    defendit falsi platonem paranda metum iustioribus cognita robustus,
                    tuum omnia usque omnis temperantiam quaeri electram.
                  </div>
                  <div class="tab-pane" id="cardTab2" role="tabpanel">
                    <h4>Protervi dissensio</h4>
                    Protervi dissensio consuetudine equos publicam ingenia. Voluptatibus legendus initia
                    confirmare sententiam. Desistunt possint habeatur dediti dubio,
                    triarium is offendimur reprehenderit exercitus laudabilis motus
                    celeritas, utrum dissentio renovata, habet partus natus. Iustius
                    disserunt, quantum ennii admodum divinum mortem elaborare primum
                    autem.
                  </div>
                  <div class="tab-pane" id="cardTab3" role="tabpanel">
                    <h4>Incurrunt latinam</h4>
                    Incurrunt latinam, faciendi dedecora evertitur delicatissimi, afficit noctesque
                    detracta illustriora epicurum contenta rogatiuncula dolores
                    perspecta indocti, eveniunt confirmatur tractat consuevit durissimis
                    iuvaret coercendi familiarem. Dolere prima fortunae intellegamus
                    vix porro huic errorem molestum, graecos deinde effugiendorum
                    aliter appetendum afferrent eosdem.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Example Panel-heading with tabs -->

          <div class="clearfix"></div>

          <div class="col-lg-6 col-xs-12">
            <!-- Example Panel Pagination -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Pagination</h3>
                <div class="panel-actions">
                  <nav>
                    <ul class="pagination pagination-no-border pagination-sm">
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="active page-item">
                        <a class="page-link" href="javascript:void(0)">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                  nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed
                  nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                  ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                  Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                  taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                  himenaeos.</p>
              </div>
            </div>
            <!-- End Example Panel Pagination -->
          </div>

          <div class="col-lg-6 col-xs-12">
            <!-- Example Panel With Tool -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Tool</h3>
                <div class="panel-actions">
                  <div class="dropdown">
                    <a class="panel-action" data-toggle="dropdown" href="#" aria-expanded="false"><i class="icon md-settings" aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-bullet" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-flag" aria-hidden="true"></i> Action</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-print" aria-hidden="true"></i> Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-favorite" aria-hidden="true"></i> Something else here</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-share" aria-hidden="true"></i> Separated link</a>
                    </div>
                  </div>
                  <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon md-minus" data-toggle="panel-collapse" aria-expanded="true"
                    aria-hidden="true"></a>
                  <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem
                at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
                Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum
                lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos.
              </div>
            </div>
            <!-- End Example Panel With Tool -->
          </div>

          <div class="col-lg-6 col-xs-12">
            <!-- Example Panel With Scrollable -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Scrollable</h3>
              </div>
              <div class="panel-body h-250" data-plugin="scrollable" data-skin="scrollable-shadow">
                <div data-role="container">
                  <div data-role="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                      nec odio. Praesent libero. Sed cursus ante dapibus diam.
                      Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis
                      sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue
                      semper porta. Mauris massa. Vestibulum lacinia arcu eget
                      nulla. Class aptent taciti sociosqu ad litora torquent per
                      conubia nostra, per inceptos himenaeos.</p>

                    <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque
                      nibh. Aenean quam. In scelerisque sem at dolor. Maecenas
                      mattis. Sed convallis tristique sem. Proin ut ligula vel
                      nunc egestas porttitor. Morbi lectus risus, iaculis vel,
                      suscipit quis, luctus non, massa. Fusce ac turpis quis ligula
                      lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper
                      vel, tincidunt sed, euismod in, nibh.</p>

                    <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu
                      ad litora torquent per conubia nostra, per inceptos himenaeos.
                      Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor
                      neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla
                      facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat
                      mi a tellus consequat imperdiet. Vestibulum sapien. Proin
                      quam. Etiam ultrices.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Panel With Scrollable -->
          </div>

          <div class="col-lg-6 col-xs-12">
            <!-- Example Panel Horizontal Scrollable -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Panel With Horizontal Scrollable</h3>
              </div>
              <div class="panel-body container-fluid h-250" data-show-on-hover="false" data-direction="horizontal"
                data-skin="scrollable-shadow" data-plugin="scrollable">
                <div data-role="container">
                  <div data-role="content" style="width:1400px">
                    <div class="row">
                      <div class="col-md-3 col-xs-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                        libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis
                        sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                        mauris. Fusce nec tellus sed augue semper porta. Mauris
                        massa. Vestibulum lacinia arcu eget nulla. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra,
                        per inceptos himenaeos. Curabitur sodales ligula in libero.
                      </div>
                      <div class="col-md-3 col-xs-12">
                        Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In
                        scelerisque sem at dolor. Maecenas mattis. Sed convallis
                        tristique sem. Proin ut ligula vel nunc egestas porttitor.
                        Morbi lectus risus, iaculis vel, suscipit quis, luctus
                        non, massa. Fusce ac turpis quis ligula lacinia aliquet.
                        Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt
                        sed, euismod in, nibh.
                      </div>
                      <div class="col-md-3 col-xs-12">
                        Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Nam nec ante.
                        Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing
                        diam, a cursus ipsum ante quis turpis. Nulla facilisi.
                        Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus
                        consequat imperdiet. Vestibulum sapien. Proin quam. Etiam
                        ultrices.
                      </div>
                      <div class="col-md-3 col-xs-12">
                        Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus
                        luctus magna. Quisque cursus, metus vitae pharetra auctor,
                        sem massa mattis sem, at interdum magna augue eget diam.
                        Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia Curae; Morbi lacinia molestie
                        dui. Praesent blandit dolor. Sed non quam. In vel mi sit
                        amet augue congue elementum.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Panel Horizontal Scrollable -->
          </div>
        </div>

        <!-- Example Panel Toolbar -->
        <div class="panel" id="examplePanelToolbar">
          <div class="panel-heading">
            <h3 class="panel-title">Panel With Toolbar</h3>
            <div class="panel-actions">
              <div class="dropdown show-on-hover">
                <a class="panel-action" data-toggle="dropdown" href="#" aria-expanded="false"><i class="icon md-settings" aria-hidden="true"></i></a>
                <div class="dropdown-menu dropdown-menu-bullet" role="menu">
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                </div>
              </div>
              <a class="panel-action icon md-refresh-alt show-on-hover" data-toggle="panel-refresh"
                data-load-type="round-circle" data-load-callback="customRefreshCallback"
                aria-hidden="true"></a>
              <a class="panel-action icon md-minus" data-toggle="panel-collapse" aria-expanded="true"
                aria-hidden="true"></a>
              <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
              <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
            </div>
          </div>
          <div class="panel-collapse">
            <div class="panel-toolbar" role="toolbar">
              <div class="btn-group btn-group-flat" role="group">
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-format-bold" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-format-italic" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-format-underlined" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-format-align-left" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-format-align-center" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-format-align-right" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-image" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-grid" aria-hidden="true"></i></a>
                <a class="btn" href="javascript:void(0)" role="button"><i class="icon md-link" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <textarea class="form-control panel-control" placeholder="This is a form textarea..."
                rows="5"></textarea>
              <button type="button" class="btn btn-primary m-t-15">Submit</button>
            </div>
          </div>
        </div>
        <!-- End Example Panel Toolbar -->

        <!-- Example Contextual -->
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="panel panel-primary panel-line">
              <div class="panel-heading">
                <h3 class="panel-title">Primary Panel</h3>
              </div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="panel panel-success panel-line">
              <div class="panel-heading">
                <h3 class="panel-title">Success Panel</h3>
              </div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="panel panel-info panel-line">
              <div class="panel-heading">
                <h3 class="panel-title">Info Panel</h3>
              </div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="panel panel-bordered panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Warning Panel</h3>
              </div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="panel panel-bordered panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Danger Panel</h3>
              </div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="panel panel-bordered panel-dark">
              <div class="panel-heading">
                <h3 class="panel-title">Dark Panel</h3>
              </div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
            </div>
          </div>
        </div>
        <!-- End Example Contextual -->
      </div>
      <!-- End Page Content -->
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}