---
title: Blog Widgets
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/plyr/plyr.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/plyr/plyr.js"></script>
    <script src="{{assets}}/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="{{assets}}/vendor/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="{{assets}}/vendor/masonry/masonry.pkgd.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/plyr.js"></script>
    <script src="{{assets}}/js/Plugin/matchheight.js"></script>
    <script src="{{assets}}/js/Plugin/masonry.js"></script>
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">Blog Widgets</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Widgets</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ol>
        <div class="page-header-actions">
          <button type="button" class="btn btn-sm btn-primary btn-round">
            <span class="text hidden-sm-down">Settings</span>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="page-content container-fluid">
        <div class="row" data-plugin="masonry">
          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-shadow">
              <div class="card-img-top cover overlay overlay-hover">
                <img class="cover-image overlay-figure overlay-scale" src="{{assets}}/photos/placeholder.png"
                  alt="">
              </div>
              <div class="card-block">
                <h3 class="card-title">Possumus fugiendum verborum</h3>
                <p class="card-text">
                  <small>Jan 16, 2017</small>
                </p>
                <p class="card-text">Munere dictum dissentio dicturam mediocriterne honesta, morbi delectus
                  rationibus periculum opinor propterea intuemur poetarum efficeretur
                  interpretaris, labefactant aeternum reformidans, laborum inquit
                  laus. Dolor fana conficiuntque efficerent persequeris quos dicas
                  essent. Aristippus tollunt nollem clamat similique corpore gerendarum
                  quas initiis, possum. </p>
              </div>
              <div class="card-block clearfix">
                <a class="btn btn-info card-link" href="javascript:void(0)">READ MORE</a>
                <div class="card-actions pull-xs-right">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>25</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>18</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Widget -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget With Carousel -->
            <div class="card card-shadow">
              <div class="card-img-top cover">
                <div class="cover-gallery carousel slide" id="exampleCoverGallery" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li class="active" data-target="#exampleCoverGallery" data-slide-to="0"></li>
                    <li data-target="#exampleCoverGallery" data-slide-to="1"></li>
                    <li data-target="#exampleCoverGallery" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img alt="First slide" src="{{assets}}/photos/placeholder.png">
                    </div>
                    <div class="carousel-item">
                      <img alt="Second  slide" src="{{assets}}/photos/placeholder.png">
                    </div>
                    <div class="carousel-item">
                      <img alt="Third  slide" src="{{assets}}/photos/placeholder.png">
                    </div>
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#exampleCoverGallery" data-slide="prev"
                    role="button">
                    <span class="icon md-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#exampleCoverGallery" data-slide="next"
                    role="button">
                    <span class="icon md-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="card-block">
                <h3 class="card-title">Expleantur manu graecam</h3>
                <p class="card-text">
                  <small>Feb 21, 2017</small>
                </p>
                <p class="card-text">Adiungimus acutum iudicatum aliud aegritudinem, tritani ignavi
                  incidant quaeritur transferrem loqueretur delectatio, appetere,
                  eruditi. Eamque quaeso diuturnum. Atomis quietae quamquam cadere
                  arbitrantur magnam referuntur utramque aristippi, filium eidola,
                  iudicat veniamus, noctesque invenerit, alia factorum aristoteli
                  phaedrum parta quicquid morbi animadversionem. </p>
              </div>
              <div class="card-block clearfix">
                <a class="btn btn-info card-link" href="javascript:void(0)">READ MORE</a>
                <div class="card-actions pull-xs-right">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>63</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>24</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Widget With Carousel -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget With Blockquote -->
            <div class="card card-shadow">
              <div class="card-header cover p-0">
                <div class="cover-background p-30" style="background-image: url('{{assets}}/photos/placeholder.png')">
                  <blockquote class="blockquote cover-quote white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    nec odio. Praesent libero. Sed cursus ante dapibus diam. </blockquote>
                </div>
              </div>
              <div class="card-block">
                <p class="card-text">
                  <small>Mar 8, 2017</small>
                </p>
                <p class="card-text">Haeret voluptatibus docere disciplina divitiarum erant certa libenter
                  dicere nollem, istam nutu rogatiuncula proficiscuntur viderer
                  versatur voluptas, litteras tamque, captet idque. Chaere definitiones
                  scriptorem expetendas. Futura sumitur, irridente operosam evertitur
                  personae successionem doctissimos, enim exaudita quoquo, terentii
                  cursu expediunt similia. </p>
              </div>
              <div class="card-block clearfix">
                <a class="btn btn-info" href="javascript:void(0)">READ MORE</a>
                <div class="card-actions pull-xs-right">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>37</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>20</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Widget With Blockquote -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget With Audio -->
            <div class="card card-shadow">
              <div class="card-header cover player p-0" data-plugin="plyr">
                <audio controls style="width: 100%">
                  <!-- Audio Files -->
                  <source type="audio/mp3" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">
                  <source type="audio/ogg" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.ogg">
                  <!-- Fallback For Browsers That Don'T Support The <Audio> Element -->
                  <a href="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">Download</a>
                </audio>
              </div>
              <div class="card-block">
                <h3 class="card-title">Fana graeca amentur</h3>
                <p class="card-text">
                  <small>Apr 15, 2017</small>
                </p>
                <p class="card-text">Appellantur possent inmensae meo beatus angoribus, philosophorum
                  terroribus quamvis aiunt praestabiliorem intellegere platone
                  falsarum inscientia imperio, synephebos clarorum notissima cognosci
                  odit insolens liberalitati saepti efficiat, laetetur motum incurreret.
                  Admissum aspernandum, esset filium putamus tuo cernantur vacillare
                  atomis referri prorsus aliquod. </p>
              </div>
              <div class="card-block clearfix">
                <a class="btn btn-info card-link" href="javascript:void(0)">READ MORE</a>
                <div class="card-actions pull-xs-right">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>123</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>66</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Widget With Audio -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget With Video -->
            <div class="card card-shadow">
              <div class="card-header cover player p-0" data-plugin="plyr">
                <video poster="{{assets}}/examples/images/poster.jpg" controls crossorigin>
                  <!-- Video Files -->
                  <source type="video/mp4" src="https://cdn.selz.com/plyr/1.0/movie.mp4">
                  <source type="video/webm" src="https://cdn.selz.com/plyr/1.0/movie.webm">

                  <!-- Text Track File -->
                  <track kind="captions" label="English" srclang="en" src="//cdn.selz.com/plyr/1.0/en.vtt"
                    default>

                  <!-- Fallback For Browsers That Don'T Support The <Video> Element -->
                  <a href="https://cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
                </video>
              </div>
              <div class="card-block">
                <h3 class="card-title">Consistat conetur verborum</h3>
                <p class="card-text">
                  <small>May 15, 2017</small>
                </p>
                <p class="card-text">Metuamus repudiandae, temeritas multoque utilitate laudari declarant
                  inducitur cupiditates, illa maximisque parvam intellegitur cupio
                  copulationesque placet infinitum nullo bella. Iucundo voluptate
                  physico uterque videor sensus diligenter. Diuturnum graecos utuntur
                  voluerint durissimis. Consectetur. </p>
              </div>
              <div class="card-block clearfix">
                <a class="btn btn-info card-link" href="javascript:void(0)">READ MORE</a>
                <div class="card-actions pull-xs-right">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>19</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>71</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Widget With Video -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget with Overlay-shade -->
            <div class="card card-shadow">
              <div class="card-header cover overlay p-0">
                <img class="cover-image overlay-figure" src="{{assets}}/photos/placeholder.png"
                  alt="...">
                <div class="overlay-shade overlay-panel"></div>
              </div>
              <div class="card-block">
                <h3 class="card-title">Dolemus vero fames</h3>
                <p class="card-text">
                  <small>Jun 15, 2017</small>
                </p>
                <p class="card-text">Personae romano, deditum, diu veniam totam aequo, voluptaria maluisset
                  cotidie gravis quando liberiusque placatae, ars dicitis potius,
                  ordiamur aegritudo conquisitis sicine omnibus specie habendus
                  iuvaret contemnere brute, concedo potuimus tractatas inquam effici.
                  Praeclara responsum provocatus m domo desiderat. Quid natum.
                  </p>
              </div>
              <div class="card-block clearfix">
                <a class="btn btn-info card-link" href="javascript:void(0)"><i class="icon md-chevron-right font-size-16"></i>Read More</a>
                <div class="card-actions pull-xs-right">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>63</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>26</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Widget with Overlay-background -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget with Horizontal posts -->
            <div class="card card-shadow">
              <div class="card-header cover overlay-hover overlay">
                <img class="cover-image overlay-figure overlay-spin" src="{{assets}}/photos/placeholder.png"
                  alt="...">
              </div>
              <div class="card-block">
                <div class="card-actions card-actions-sidebar">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>5</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>8</span>
                  </a>
                </div>
                <div class="card-content">
                  <h3 class="card-title">Persequeris malorum Pariter</h3>
                  <p class="card-text">
                    <small>July 15, 2017</small>
                  </p>
                  <p class="card-text">Magnus tuentur consuetudinum impediente praeterierunt volunt
                    noris aegritudo, ultimum macedonum minimum quoniam vocet habendus
                    sitne putet fortitudinem. Vocant equidem nos perfruique distinguique
                    torquatos fugiendus conturbamur, dolorem quisquam reiciat eorumque,
                    maledicta, amicitiae damna conspectum penitus chremes synephebos
                    suscipiantur conectitur. Approbantibus privamur. </p>
                  <a class="btn btn-info card-link" href="javascript:void(0)">READ MORE</a>
                </div>
              </div>
            </div>
            <!-- End Widget with Horizontal posts -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-shadow">
              <div class="card-header cover overlay-hover overlay">
                <img class="cover-image overlay-figure overlay-scale" src="{{assets}}/photos/placeholder.png"
                  alt="...">
              </div>
              <div class="card-block">
                <p class="card-text type-link">
                  <small>
                    By
                    <a href="javascript:void(0)">Heather Harper</a>
                    <a href="javascript:void(0)">05, 2017</a>
                    <a href="javascript:void(0)">
                      <span>3</span> Comments</a>
                  </small>
                </p>
                <h3 class="card-title">Singulos flagitem cupiditatibus</h3>
                <p class="card-text">Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                  adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                  perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                  complectitur leguntur vidisse assiduitas insolens audeam urbes
                  futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                  distinguique geometriaque. </p>
              </div>
              <div class="card-block clearfix">
                <div class="card-actions pull-xs-left">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>253</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>115</span>
                  </a>
                </div>
                <a class="btn btn-info card-link pull-xs-right" href="javascript:void(0)">
                  <i class="icon md-chevron-right"></i> Read More
                </a>
              </div>
            </div>
            <!-- End Widget -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card">
              <div class="card-img-left">
                <div class="cover-background" style="background-image: url('{{assets}}/photos/placeholder.png')"></div>
              </div>
              <div class="card-block">
                <p class="card-text">
                  <small>
                    <span class="card-author">June Lane</span> /
                    <span class="card-category">News</span> /
                    <span class="card-time">Jun 21, 2017</span>
                  </small>
                </p>
                <h3 class="card-title">Plurimum attico latine</h3>
                <p class="card-text">Pervenias fatendum epicureis parentes tollit nostra levis homini
                  quietus affirmatis, temperantiamque suscepi electram effectrices
                  miser nomini expetendam istis. Aristippi idque, cohaerescent
                  servata constituto afficit voluptas debilitatem individua sequi,
                  metu cedentem obruamus ignavi motus exercendi partus corrumpit
                  lectorem, desideraturam officia incidant. </p>
              </div>
              <div class="card-block clearfix">
                <div class="card-actions pull-xs-left">
                  <a href="javascript:void(0)">
                    <i class="icon md-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-favorite"></i>
                    <span>21</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon md-comment"></i>
                    <span>35</span>
                  </a>
                </div>
                <a class="btn btn-info card-link pull-xs-right" href="javascript:void(0)">
                  <i class="icon md-chevron-right"></i> Read More
                </a>
              </div>
            </div>
            <!-- End Widget -->
          </div>

          <div class="col-xs-12 col-lg-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-inverse overlay">
              <img class="card-img overlay-figure h-xs-250" src="{{assets}}/photos/placeholder.png"
                alt="...">
              <div class="card-img-overlay overlay-background text-xs-center vertical-align">
                <div class="vertical-align-middle">
                  <div class="card-text card-divider">
                    <span>July 28, 2017</span>
                  </div>
                  <h3 class="card-title m-b-20">Iudicem fieri maximeque aliud vacuitate.</h3>
                  <a href="javascript:void(0)" class="btn btn-info card-link">READ MORE</a>
                </div>
              </div>
            </div>
            <!-- End Widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}