---
title: Weather Widgets
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/widgets/weather.css">
  {{/content}}


  {{#content "fonts" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/fonts/weather-icons/weather-icons.css">
  {{/content}}

  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/skycons/skycons.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/widgets/weather.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">Weather Widgets</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Widgets</a></li>
          <li class="breadcrumb-item active">Weather</li>
        </ol>
        <div class="page-header-actions">
          <button type="button" class="btn btn-sm btn-primary btn-round">
            <span class="text hidden-sm-down">Settings</span>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="page-content page-content-example container-fluid">
        <div class="row">
          <div class="col-xxl-7 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card card-shadow weather">
              <div class="card-header card-header-transparent cover overlay">
                <img class="cover-image h-xl-450" src="{{assets}}/photos/placeholder.png" alt="...">
                <div class="overlay-panel">
                  <span class="font-size-40 white">City</span>
                  <div class="weather-location input-search pull-xs-right m-t-10">
                    <input type="text" class="form-control form-control-sm grey-200" placeholder="Location">
                    <button type="submit" class="input-search-btn">
                      <i class="icon md-search grey-400" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-footer card-footer-no-border bg-white">
                <div class="row no-space">
                  <div class="col-xs-12 col-lg-4 col-md-5 p-l-30 p-y-30">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="vertical-align">
                          <i class="vertical-align-middle wi-day-sunny font-size-50 m-t-10"></i>
                        </div>
                      </div>

                      <div class="col-xs-8">
                        <span class="blue-600 font-size-40">20°
                          <span class="font-size-30">C</span>
                        </span>
                        <span class="font-size-18 grey-700">/</span>
                        <span class="font-size-18 grey-700">7°
                          <span class="font-size-16">C</span>
                        </span>
                        <p class="font-size-14 m-b-0">MONDAY 11.11.2017</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-7 col-xs-12">
                    <div class="row no-space text-xs-center">
                      <div class="col-xs-2">
                        <div class="weather-day vertical-align">
                          <div class="vertical-align-middle font-size-16">
                            <div class="m-b-10">TUE</div>
                            <i class="wi-day-sunny font-size-24 m-b-10"></i>
                            <div>24°
                              <span class="font-size-12">C</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-2">
                        <div class="weather-day vertical-align">
                          <div class="vertical-align-middle font-size-16">
                            <div class="m-b-10">WED</div>
                            <i class="wi-day-cloudy font-size-24 m-b-10"></i>
                            <div>21°
                              <span class="font-size-12">C</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-2">
                        <div class="weather-day vertical-align">
                          <div class="vertical-align-middle font-size-16">
                            <div class="m-b-10">THU</div>
                            <i class="wi-day-sunny font-size-24 m-b-10"></i>
                            <div>25°
                              <span class="font-size-12">C</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-2">
                        <div class="weather-day vertical-align">
                          <div class="vertical-align-middle font-size-16">
                            <div class="m-b-10">FRI</div>
                            <i class="wi-day-cloudy-gusts font-size-24 m-b-10"></i>
                            <div>20°
                              <span class="font-size-12">C</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-2">
                        <div class="weather-day vertical-align">
                          <div class="vertical-align-middle font-size-16">
                            <div class="m-b-10">SAT</div>
                            <i class="wi-day-lightning font-size-24 m-b-10"></i>
                            <div>18°
                              <span class="font-size-12">C</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-2">
                        <div class="weather-day vertical-align">
                          <div class="vertical-align-middle font-size-16">
                            <div class="m-b-10">SUN</div>
                            <i class="wi-day-storm-showers font-size-24 m-b-10"></i>
                            <div>14°
                              <span class="font-size-12">C</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-xxl-5 col-xl-7 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card card-inverse card-shadow card-primary white text-xs-center bg-blue-600">
              <div class="card-block p-25">
                <h3 class="white">
                  <span class="font-size-30">City, </span>Country
                </h3>
                <p class="weather-day-date m-b-30">
                  <span class="m-r-5">MONDAY</span> May 11, 2017
                </p>
                <div class="m-b-30">
                  <canvas class="m-r-40 text-top" id="ex4-rain" width="90" height="90"></canvas>
                  <div class="inline-block">
                    <span class="font-size-50">29°
                      <span class="font-size-40">C</span>
                    </span>
                    <p class="text-xs-left">DAY RAIN</p>
                  </div>
                </div>
                <div class="row no-space">
                  <div class="col-xs-2">
                    <div>
                      <div class="m-b-10">TUE</div>
                      <i class="wi-day-sunny font-size-30 m-b-10"></i>
                      <div>24°
                        <span class="font-size-12">C</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <div class="m-b-10">WED</div>
                      <i class="wi-day-cloudy font-size-30 m-b-10"></i>
                      <div>21°
                        <span class="font-size-12">C</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <div class="m-b-10">THU</div>
                      <i class="wi-day-sunny font-size-30 m-b-10"></i>
                      <div>25°
                        <span class="font-size-12">C</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <div class="m-b-10">FRI</div>
                      <i class="wi-day-cloudy-gusts font-size-30 m-b-10"></i>
                      <div>20°
                        <span class="font-size-12">C</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <div class="m-b-10">SAT</div>
                      <i class="wi-day-lightning font-size-30 m-b-10"></i>
                      <div>18°
                        <span class="font-size-12">C</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <div class="m-b-10">SUN</div>
                      <i class="wi-day-storm-showers font-size-30 m-b-10"></i>
                      <div>14°
                        <span class="font-size-12">C</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-xl-5 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-xxl-6 col-xl-12 col-md-6 col-xs-12">
                <!-- Card -->
                <div class="card card-shadow">
                  <div class="card-header bg-green-600 white p-x-30 p-y-10">
                    <i class="icon md-pin m-r-5" aria-hidden="true"></i>
                    <span>City</span>
                  </div>
                  <div class="card-block p-x-30 p-y-10">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="font-size-14">Fri 20/5</div>
                        <div class="font-size-40 grey-700">
                          27°
                          <span class="font-size-30">C</span>
                        </div>
                      </div>
                      <div class="col-xs-6 text-xs-right">
                        <i class="wi-fog font-size-50"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>

              <div class="col-xxl-6 col-xl-12 col-md-6 col-xs-12">
                <!-- Card -->
                <div class="card card-shadow p-x-30 p-y-20">
                  <div class="card-block p-0">
                    <div class="row">
                      <div class="col-xs-6">
                        <i class="wi-day-sunny font-size-40"></i>
                      </div>
                      <div class="col-xs-6 text-xs-right">
                        <div class="font-size-40 grey-700">
                          27°
                          <span class="font-size-30">C</span>
                        </div>
                        <div class="font-size-14">Fri 20/5</div>
                      </div>
                    </div>
                    <div class="font-size-14">
                      <i class="icon md-pin m-r-5" aria-hidden="true"></i>
                      <span>City</span>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>
            </div>
          </div>

          <div class="col-xxl-6 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card card-shadow text-xs-center">
              <div class="row no-space">
                <div class="col-xs-6">
                  <div class="bg-grey-600 white vertical-align h-200">
                    <div class="vertical-align-middle">
                      <div class="font-size-40">
                        27°
                        <span class="font-size-30">C</span>
                      </div>
                      <div class="font-size-20">City, Country</div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="bg-white h-200">
                    <div class="vertical-align h-150">
                      <i class="wi-day-sunny vertical-align-middle font-size-50"></i>
                    </div>
                    <div class="row no-space">
                      <div class="col-xs-6 h-50">
                        <i class="wi-strong-wind m-r-5"></i> 8 Kmph
                      </div>
                      <div class="col-xs-6 h-50">
                        <i class="wi-sprinkles m-r-5"></i> 40%
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-xxl-3 col-md-6 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card-group text-xs-center white">
              <div class="col-xs-6 card-inverse bg-green-600">
                <div class="card-block vertical-align h-200">
                  <div class="vertical-align-middle">
                    <div class="font-size-40">
                      27°
                      <span class="font-size-24">C</span>
                    </div>
                    <div class="m-t-3">City, Country</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 card-inverse bg-green-600">
                <div class="card-block vertical-align h-200" style="border-left: 1px solid rgba(255, 255, 255, 0.1);">
                  <div class="vertical-align-middle">
                    <div class="font-size-50">
                      <i class="wi-cloudy"></i>
                    </div>
                    <div class="m-t-3">20.5.2017</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-xxl-3 col-md-6 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card card-shadow">
              <div class="card-header card-header-transparent cover overlay">
                <img class="cover-image h-200" src="{{assets}}/photos/placeholder.png" alt="...">
                <div class="overlay-panel overlay-background">
                  <div class="font-size-16 pull-xs-right"><i class="icon md-pin" aria-hidden="true"></i></div>
                  <p class="font-size-20">City, Country</p>
                  <p class="font-size-20">
                    <i class="wi-day-cloudy m-r-15 font-size-40"></i>
                    <span class="font-size-40 blue-600">20°
                      <span class="font-size-30">C</span>
                    </span>
                    <span>/</span>
                    <span>7°
                      <span class="font-size-16">C</span>
                    </span>
                  </p>
                  <p class="m-b-5">MONDAY</p>
                  <p>11.11.2017</p>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-xxl-4 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-xxl-12 col-lg-6 col-xs-12">
                <!-- Card -->
                <div class="card card-shadow text-xs-center">
                  <div class="card-block p-0">
                    <div class="bg-red-600 p-30 white">
                      <div class="font-size-40">
                        27°
                        <span class="font-size-30">C</span>
                        <i class="wi-day-cloudy-windy"></i>
                      </div>
                    </div>
                    <div class="bg-white red-600 font-size-14 p-15">
                      Saturday 12 May
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>

              <div class="col-xxl-12 col-lg-6 col-xs-12">
                <!-- Widget Country -->
                <div class="card bg-blue-600 white text-xs-center">
                  <div class="card-block p-0">
                    <div class="p-30">
                      <div class="font-size-50">
                        <i class="wi-day-cloudy-windy"></i>
                        <span class="font-size-40">
                          27°
                          <span class="font-size-30">C</span>
                        </span>
                      </div>
                    </div>
                    <div class="bg-blue-500 p-x-30 p-y-25">
                      <div class="row no-space">
                        <div class="col-xs-6">
                          <i class="wi-strong-wind m-r-10"></i>
                          <span class="font-weight-bold">8</span>Kmph
                        </div>
                        <div class="col-xs-6">
                          <i class="wi-sprinkles m-r-10"></i>
                          <span class="font-weight-bold">40</span>%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Widget Country -->
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-lg-6 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card card-shadow text-xs-center font-size-16">
              <div class="card-block p-0">
                <div class="bg-purple-600 p-30 white ">
                  <div>
                    <canvas id="ex6-snow" width="100" height="145"></canvas>
                  </div>
                  <div>
                    <span class="font-size-40">-4°
                      <span class="font-size-30">C</span>
                    </span>
                  </div>
                  <div>SNOWING</div>
                </div>
                <div class="bg-white p-30">
                  <div class="grey-700">
                    <span class="font-size-20">City, </span>
                    <span class="font-size-18">Country</span>
                  </div>
                  <div>
                    <span class="m-r-5">Today,</span> 05:12 PM
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-xxl-4 col-lg-6 col-sm-12 col-xs-12">
            <!-- Card -->
            <div class="card card-shadow text-xs-center font-size-16">
              <div class="card-block p-0">
                <div class="bg-white p-30 ">
                  <canvas id="ex7-sleet" width="100" height="215"></canvas>
                </div>
                <div class="bg-grey-400 p-30">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="white">
                        <i class="md-chevron-down green-600 font-size-20 m-r-5"></i>
                        <span class="font-size-30">8°</span>
                        <span class="font-size-24">C</span>
                      </div>
                      <div class="font-size-14 white">LOW</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="white">
                        <i class="md-chevron-up red-500 font-size-20 m-r-5"></i>
                        <span class="font-size-30">19°</span>
                        <span class="font-size-24">C</span>
                      </div>
                      <div class="font-size-14 white">HIGH</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}