<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation" ng-cloak ui-view="navbar" id="navbar" ng-show="rootCtrl.Page.showNavbar()">
</nav>
<div class="site-menubar" ng-cloak ui-view="menu" id="menu" menu-bar ng-show="rootCtrl.Page.showMenu()"></div>
<div class="site-gridmenu" ng-cloak ui-view="grid-menu" id="gridMenu" ng-show="rootCtrl.Page.showMenu()"></div>
<!-- Page -->
<div class="page">
    <div ng-cloak ui-view="main" id="main" style="height: 100%;" ng-class="rootCtrl.Page.pageClass()"></div>
</div>
<!-- End Page -->
<!-- Footer -->
<footer class="site-footer" ng-cloak ui-view="footer" id="footer" ng-show="rootCtrl.Page.showFooter()">
</footer>