---
title: News
body_class: page-email page-email-news
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/email.css">
  {{/content}}


  {{#content "body"}}

    <div class="page">
      <div class="page-content">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body container-fluid">
            <div class="email-title">
              <img src="{{assets}}//images/logo-blue.png" alt="..." />
              <h4 class="blue-grey-400 font-weight-400">Remark</h4>
            </div>
            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="image-item">
                      <img class="img-fluid" src="{{assets}}/photos/placeholder.png" alt="..." />
                      <span class="news-time">September 15, 2017</span>
                      <span class="news-category">ocean</span>
                      <h4 class="news-title">Dicam effecerit vel homine logikh.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-block news">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="card m-b-0 p-t-20">
                      <span class="font-size-16 font-weight-400 blue-grey-500">News</span>
                      <div class="card-block">
                        <h3 class="card-title font-weight-100">Dolemus vero fames</h3>
                        <p class="card-text">
                          <small>Jun 15, 2017</small>
                        </p>
                        <p class="card-text">Personae romano, deditum, diu veniam totam aequo, Praeclara
                          responsum provocatus m domo desiderat. Quid natum. </p>
                      </div>
                      <div class="card-block clearfix">
                        <a class="btn btn-primary btn-outline card-link" href="javascript:void(0)"><i class="icon md-chevron-right font-size-16"></i>Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="image-item">
                      <img class="img-fluid" src="{{assets}}/photos/placeholder.png" alt="..." />
                      <span class="news-time">September 13, 2017</span>
                      <span class="news-category">ocean</span>
                      <h4 class="news-title">Dicam effecerit logikh.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="image-item">
                      <img class="img-fluid" src="{{assets}}/photos/placeholder.png" alt="..." />
                      <span class="news-time">September 15, 2017</span>
                      <span class="news-category">ocean</span>
                      <h4 class="news-title">Dicam effecerit vel homine logikh.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-block news">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="image-item">
                      <img class="img-fluid" src="{{assets}}/photos/placeholder.png" alt="..." />
                      <span class="news-time">September 13, 2017</span>
                      <span class="news-category">ocean</span>
                      <h4 class="news-title">Dicam effecerit logikh.</h4>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="card m-b-0 p-t-20">
                      <span class="font-size-16 font-weight-400 blue-grey-500">News</span>
                      <div class="card-block">
                        <h3 class="card-title font-weight-100">Dolemus vero fames</h3>
                        <p class="card-text">
                          <small>Jun 15, 2017</small>
                        </p>
                        <p class="card-text">Personae romano, deditum, diu veniam totam aequo, Praeclara
                          responsum provocatus m domo desiderat. Quid natum. </p>
                      </div>
                      <div class="card-block clearfix">
                        <a class="btn btn-primary btn-outline card-link" href="javascript:void(0)"><i class="icon md-chevron-right font-size-16"></i>Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-more m-t-0">
              <p>You are currently signed up to Company’s newsletters as: youremail@gmail.com
                to <a class="email-unsubscribe" href="javascript:void(0)">unsubscribe</a></p>
              <div class="email-more-social">
                <a href="javascript:void(0)"><i class="icon bd-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-linkedin" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-pinterest" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>

  {{/content}}
{{/extend}}