---
title: Email
body_class: page-email
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/email.css">
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-content">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body container-fluid">
            <div class="email-title">
              <img src="{{assets}}//images/logo-blue.png" alt="...">
              <h4 class="grey-600 font-weight-400">Remark</h4>
            </div>
            <div class="card">
              <div class="card-img-top cover">
                <img class="cover-image" src="{{assets}}/photos/placeholder.png" alt="...">
              </div>
              <div class="card-block">
                <h4 class="card-title">Dissensio placebit bonarum</h4>
                <p class="card-text">Fecerit amici quale arte opinor homero, amaret amici audeam locupletiorem
                  timidiores. Insipientiam potitur hae solemus, mortis iactare
                  debilitati opinemur effici, eruditi laetitiam verterem dictum
                  audeam disputationi, chaere credo discere sin confidet complectitur
                  hominem, quantum fabellas, habuit convenire possunt constringendos
                  amicum. </p>
                <a class="btn btn-primary card-link" href="javascript:void(0)">Read More</a>
              </div>
            </div>
            <div class="card">
              <div class="card-img-top cover">
                <img class="cover-image" src="{{assets}}/photos/placeholder.png" alt="...">
              </div>
              <div class="card-block">
                <h4 class="card-title">Huius existimare ferantur</h4>
                <p class="card-text">Inquam maluisti corrigere operosam expectamus, sic facilis aiebat.
                  Magnam malit silano albuci vix poetis pedalis falli sequatur,
                  eruditionem notissima depulsa notissima, istis tradit omne. Provident
                  fortitudinem natura adversa suam, dedocendi inflammat eisque
                  verear, labefactetur patrioque errorem probo consequamur erit
                  brute. </p>
                <a class="btn btn-primary card-link" href="javascript:void(0)">Read More</a>
              </div>
            </div>
            <div class="card">
              <div class="card-img-top cover">
                <img class="cover-image" src="{{assets}}/photos/placeholder.png" alt="...">
              </div>
              <div class="card-block">
                <h4 class="card-title">Assiduitas totum sanciret</h4>
                <p class="card-text">Multis vestra feci clariora caret proprius totum quaeso nati iudex,
                  nimis dissensio sensu nati cupio maius iustitiam oportere, videro
                  excepturi, delectari amici atomus falli pedalis imperii graeci
                  anteponant movet tempora, contentus qua amplificarique horreat
                  aspernari legat ergo rudem litteras utuntur. </p>
                <a class="btn btn-primary card-link" href="javascript:void(0)">Read More</a>
              </div>
            </div>
            <div class="email-more">
              <h2 class="email-more-title">You May Want To Learn</h2>
              <div class="row email-more-content">
                <div class="col-md-4">
                  <a class="card" href="javascript:void(0)">
                    <img class="card-img width-full" src="{{assets}}/photos/placeholder.png" alt="...">
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="card" href="javascript:void(0)">
                    <img class="card-img width-full" src="{{assets}}/photos/placeholder.png" alt="...">
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="card" href="javascript:void(0)">
                    <img class="card-img width-full" src="{{assets}}/photos/placeholder.png" alt="...">
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="card" href="javascript:void(0)">
                    <img class="card-img width-full" src="{{assets}}/photos/placeholder.png" alt="...">
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="card" href="javascript:void(0)">
                    <img class="card-img width-full" src="{{assets}}/photos/placeholder.png" alt="...">
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="card" href="javascript:void(0)">
                    <img class="card-img width-full" src="{{assets}}/photos/placeholder.png" alt="...">
                  </a>
                </div>
              </div>
              <p>You are currently signed up to Company’s newsletters as: youremail@gmail.com
                to <a class="email-unsubscribe" href="javascript:void(0)">unsubscribe</a></p>
              <div class="email-more-social">
                <a href="javascript:void(0)"><i class="icon bd-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-linkedin" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-pinterest" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}