---
title: Profile V2
body_class: page-profile-v2
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/slick-carousel/slick.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/profile-v2.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/slick-carousel/slick.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/pages/profile-v2.js"></script>
  {{/content}}

  {{#content "body"}}


    <!-- Page -->
    <div class="page">
      <div class="page-content container-fluid">

        <div class="row">
          <!-- Middle Column -->
          <div class="col-xs-12 col-lg-12 col-xl-6 push-xl-3">

            <!-- User Content Release -->
            <div class="user-release card card-shadow">
              <div class="card-block p-0">
                <input class="user-release-input form-control form-control-lg" type="text" name="user-content-input"
                  placeholder="type something here...">
                <div class="user-release-actions">
                  <button class="btn btn-pure btn-default icon md-image" type="button"></button>
                  <button class="btn btn-pure btn-default icon md-tv-play" type="button"></button>
                  <button class="btn btn-pure btn-default icon md-calendar" type="button"></button>
                  <button class="btn btn-pure btn-default icon md-map" type="button"></button>
                  <button class="btn btn-primary btn-round pull-xs-right" type="button">submit</button>
                </div>
              </div>
            </div>
            <!-- End User Content Release -->

            <!-- User Posts -->
            <div class="user-posts card card-shadow">
              <div class="card-block">
                <h4 class="card-title m-b-20">Post</h4>
                <ul class="user-posts-list">
                  <li class="user-post">
                    <img src="{{assets}}/photos/placeholder.png" alt="..." />
                    <h4 class="user-post-title">
                      Example title1
                    </h4>
                    <time class="user-post-time" datetime="2017-02-15">Februrary 15, 2017</time>
                    <div class="user-post-data">
                      <i class="icon md-eye">
                    <span>16</span>
                  </i>
                      <i class="icon md-heart">
                    <span>4K</span>
                  </i>
                      <i class="icon md-chat">
                    <span>2K</span>
                  </i>
                    </div>
                  </li>
                  <li class="user-post">
                    <img src="{{assets}}/photos/placeholder.png" alt="..." />
                    <h4 class="user-post-title font-size-16 m-b-5">
                      Example title2
                    </h4>
                    <time class="user-post-time">Februrary 15, 2017</time>
                    <div class="user-post-data">
                      <i class="icon md-eye">
                    <span>16</span>
                  </i>
                      <i class="icon md-heart">
                    <span>4K</span>
                  </i>
                      <i class="icon md-chat">
                    <span>2K</span>
                  </i>
                    </div>
                  </li>
                  <li class="user-post">
                    <img src="{{assets}}/photos/placeholder.png" alt="..." />
                    <h4 class="user-post-title font-size-16 m-b-5">
                      Example title3
                    </h4>
                    <time class="user-post-time">Februrary 15, 2017</time>
                    <div class="user-post-data">
                      <i class="icon md-eye">
                    <span>16</span>
                  </i>
                      <i class="icon md-heart">
                    <span>4K</span>
                  </i>
                      <i class="icon md-chat">
                    <span>2K</span>
                  </i>
                    </div>
                  </li>
                  <li class="user-post">
                    <img src="{{assets}}/photos/placeholder.png" alt="..." />
                    <h4 class="user-post-title font-size-16 m-b-5">
                      Example title4
                    </h4>
                    <time class="user-post-time">Februrary 15, 2017</time>
                    <div class="user-post-data">
                      <i class="icon md-eye">
                    <span>16</span>
                  </i>
                      <i class="icon md-heart">
                    <span>4K</span>
                  </i>
                      <i class="icon md-chat">
                    <span>2K</span>
                  </i>
                    </div>
                  </li>
                  <li class="user-post">
                    <img src="{{assets}}/photos/placeholder.png" alt="..." />
                    <h4 class="user-post-title font-size-16 m-b-5">
                      Example title5
                    </h4>
                    <time class="user-post-time">Februrary 15, 2017</time>
                    <div class="user-post-data">
                      <i class="icon md-eye">
                    <span>16</span>
                  </i>
                      <i class="icon md-heart">
                    <span>4K</span>
                  </i>
                      <i class="icon md-chat">
                    <span>2K</span>
                  </i>
                    </div>
                  </li>
                  <li class="user-post">
                    <img src="{{assets}}/photos/placeholder.png" alt="..." />
                    <h4 class="user-post-title font-size-16 m-b-5">
                      Example title6
                    </h4>
                    <time class="user-post-time">Februrary 15, 2017</time>
                    <div class="user-post-data">
                      <i class="icon md-eye">
                    <span>16</span>
                  </i>
                      <i class="icon md-heart">
                    <span>4K</span>
                  </i>
                      <i class="icon md-chat">
                    <span>2K</span>
                  </i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End User Posts -->

            <!-- User Background -->
            <div class="user-background card card-shadow">
              <div class="card-header card-header-transparent p-20">
                <h4 class="card-title m-b-0">Background</h4>
              </div>

              <div class="card-block">
                <h5 class="card-title">
                  <i class="icon md-clipboard"></i>
                  <span>Summary</span>
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </p>
              </div>

              <div class="card-block">
                <h5 class="card-title">
                  <i class="icon md-briefcase"></i>
                  <span>Experience</span>
                </h5>
                <ul class="timeline timeline-single">
                  <li class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <img class="pull-xs-right" src="{{assets}}/photos/placeholder.png" alt="..."
                      />
                      <span class="block font-size-15 m-b-5">2000 President</span>
                      <span class="block m-b-5">Co-founder, Chairman</span>
                      <span class="block m-b-5">Company Name</span>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <img class="pull-xs-right" src="{{assets}}/photos/placeholder.png" alt="..."
                      />
                      <span class="block font-size-15 m-b-5">2000 President</span>
                      <span class="block m-b-5">Co-founder, Chairman</span>
                      <span class="block m-b-5">Company Name</span>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <img class="pull-xs-right" src="{{assets}}/photos/placeholder.png" alt="..."
                      />
                      <span class="block font-size-15 m-b-5">2000 President</span>
                      <span class="block m-b-5">Co-founder, Chairman</span>
                      <span class="block m-b-5">Company Name</span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="card-block">
                <h5 class="card-title">
                  <i class="icon md-flag"></i>
                  <span>Edication</span>
                </h5>
                <ul class="timeline timeline-single">
                  <li class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <img class="pull-xs-right" src="{{assets}}/photos/placeholder.png" alt="..."
                      />
                      <span class="block font-size-15 m-b-5">2000 President</span>
                      <span class="block m-b-5">BS Computer Science</span>
                      <span class="block m-b-5">Harvard University</span>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <img class="pull-xs-right" src="{{assets}}/photos/placeholder.png" alt="..."
                      />
                      <span class="block font-size-15 m-b-5">1996 - 2000</span>
                      <span class="block m-b-5">B.E</span>
                      <span class="block m-b-5">Tsinghua University</span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="card-block">
                <h5 class="card-title">
                  <i class="icon md-share"></i>
                  <span>Skills</span>
                </h5>
                <ul class="user-skills list-unstyled">
                  <li class="skill">
                    <ul class="skill-team list-unstyled">
                      <li class="avatar">
                        <img src="{{assets}}/portraits/3.jpg" alt="">
                      </li>
                      <li class="avatar">
                        <img src="{{assets}}/portraits/4.jpg" alt="">
                      </li>
                      <li class="avatar">
                        <img src="{{assets}}/portraits/6.jpg" alt="">
                      </li>
                    </ul>
                    <div class="skill-num">
                      <span class="tag tag-pill tag-dark tag-outline p-10">71</span>
                    </div>
                    <div class="skill-name">
                      Javascript
                    </div>
                  </li>
                  <li class="skill">
                    <div class="skill-num">
                      <span class="tag tag-pill tag-primary tag-outline p-10">71</span>
                    </div>
                    <div class="skill-name vertical-align-middle">
                      Photoshop
                    </div>
                    <ul class="skill-team list-unstyled">
                      <li class="avatar">
                        <img src="{{assets}}/portraits/2.jpg" alt="">
                      </li>
                      <li class="avatar">
                        <img src="{{assets}}/portraits/4.jpg" alt="">
                      </li>
                      <li class="avatar">
                        <img src="{{assets}}/portraits/5.jpg" alt="">
                      </li>
                    </ul>
                  </li>
                  <li class="skill">
                    <div class="skill-num">
                      <span class="tag tag-pill tag-success tag-outline p-10">71</span>
                    </div>
                    <div class="skill-name vertical-align-middle">
                      HTML
                    </div>
                    <ul class="skill-team list-unstyled">
                      <li class="avatar">
                        <img src="{{assets}}/portraits/2.jpg" alt="">
                      </li>
                      <li class="avatar">
                        <img src="{{assets}}/portraits/4.jpg" alt="">
                      </li>
                      <li class="avatar">
                        <img src="{{assets}}/portraits/5.jpg" alt="">
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="card-block">
                <h5 class="card-title">
                  <i class="icon md-star"></i>
                  <span>More interest</span>
                </h5>
                <span class="tag m-b-5 m-r-5 tag-default">Movie</span>
                <span class="tag m-b-5 m-r-5 tag-default">Games</span>
                <span class="tag m-b-5 m-r-5 tag-primary">Music</span>
                <span class="tag m-b-5 m-r-5 tag-warning">Pokemon go</span>
                <span class="tag m-b-5 m-r-5 tag-success">Football</span>
                <span class="tag m-b-5 m-r-5 tag-info">Tennis</span>
                <span class="tag m-b-5 m-r-5 tag-danger">Hiking</span>
                <span class="tag m-b-5 m-r-5 tag-dark">Skating</span>
                <span class="tag m-b-5 m-r-5 tag-success">Table tennis</span>
                <span class="tag m-b-5 m-r-5 tag-default">Reading</span>
                <span class="tag m-b-5 m-r-5 tag-dark">Blogging/writing</span>
                <span class="tag m-b-5 m-r-5 tag-warning">DIY</span>
                <span class="tag m-b-5 m-r-5 tag-default">Singing</span>
                <span class="tag m-b-5 m-r-5 tag-info">Dancing</span>
              </div>
            </div>
            <!-- End User Background -->

            <!-- User Recomenfations -->
            <div class="user-recomendations card card-shadow">
              <div class="card-header card-header-transparent p-20">
                <div class="testimonial-control pull-xs-right">
                  <a class="testimonial-control-left" data-slide="prev" href="#recomendations" role="button">
                    <span class="icon md-chevron-left font-size-24 m-r-15" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="testimonial-control-right" data-slide="next" href="#recomendations" role="button">
                    <span class="icon md-chevron-right font-size-24" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <h4 class="card-title m-b-0">Recomendations</h4>
              </div>
              <div class="card-block">
                <div class="testimonial carousel" role="listbox" id="recomendations" data-ride="carousel">
                  <ul class="testimonial-ul carousel-inner">
                    <li class="testimonial-item carousel-item active">
                      <div class="row">
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis,
                              tortor neque adipiscing diam, a cursus ipsum ante
                              quis turpis. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/13.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Andrew Hoffman</span>
                          <span class="testimonial-company">Web Designer</span>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Suspendisse in justo eu magna luctus suscipit. Sed
                              lectus. Integer euismod lacus luctus magna. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/12.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Sarah Graves</span>
                          <span class="testimonial-company">Videographer</span>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis,
                              tortor neque adipiscing diam, a cursus ipsum ante
                              quis turpis. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/15.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Camila Lynch</span>
                          <span class="testimonial-company">Wordpress Ninja</span>
                        </div>
                      </div>
                    </li>
                    <li class="testimonial-item carousel-item">
                      <div class="row">
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis,
                              tortor neque adipiscing diam, a cursus ipsum ante
                              quis turpis. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/11.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Sarah Graves</span>
                          <span class="testimonial-company">Web Designer</span>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Suspendisse in justo eu magna luctus suscipit. Sed
                              lectus. Integer euismod lacus luctus magna. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/10.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Andrew Hoffman</span>
                          <span class="testimonial-company">Videographer</span>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Suspendisse in justo eu magna luctus suscipit. Sed
                              lectus. Integer euismod lacus luctus magna. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/9.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Camila Lynch</span>
                          <span class="testimonial-company">Wordpress Ninja</span>
                        </div>
                      </div>
                    </li>
                    <li class="testimonial-item carousel-item">
                      <div class="row">
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Suspendisse in justo eu magna luctus suscipit. Sed
                              lectus. Integer euismod lacus luctus magna. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/3.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Sarah Graves</span>
                          <span class="testimonial-company">Web Designer</span>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Suspendisse in justo eu magna luctus suscipit. Sed
                              lectus. Integer euismod lacus luctus magna. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/4.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Andrew Hoffman</span>
                          <span class="testimonial-company">Videographer</span>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="testimonial-content">
                            <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis,
                              tortor neque adipiscing diam, a cursus ipsum ante
                              quis turpis. </p>
                          </div>
                          <div class="testimonial-image">
                            <a class="avatar" href="javascript:void(0)">
                              <img src="{{assets}}/portraits/2.jpg" alt="image" />
                            </a>
                          </div>
                          <span class="testimonial-author">Camila Lynch</span>
                          <span class="testimonial-company">Wordpress Ninja</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End User Recomendations -->
            <!-- User Following -->
            <div class="card user-following">
              <div class="card-header card-header-transparent p-20">
                <h4 class="card-title m-b-0">Following</h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-sm-3 col-xs-6 m-b-20">
                    <img src="{{assets}}/photos/placeholder.png" />
                    <h4 class="font-size-16 m-b-5">KIPP Foundation</h4>
                    <span>
                      <span>+</span>
                      <span>Follow</span>
                    </span>
                  </div>
                  <div class="col-sm-3 col-xs-6 m-b-20">
                    <img src="{{assets}}/photos/placeholder.png" />
                    <h4 class="font-size-16 m-b-5">KIPP Foundation</h4>
                    <span>
                      <span>+</span>
                      <span>Follow</span>
                    </span>
                  </div>
                  <div class="col-sm-3 col-xs-6 m-b-20">
                    <img src="{{assets}}/photos/placeholder.png" />
                    <h4 class="font-size-16 m-b-5">KIPP Foundation</h4>
                    <span>
                      <span>+</span>
                      <span>Follow</span>
                    </span>
                  </div>
                  <div class="col-sm-3 col-xs-6 m-b-20">
                    <img src="{{assets}}/photos/placeholder.png" />
                    <h4 class="font-size-16 m-b-5">KIPP Foundation</h4>
                    <span>
                      <span>+</span>
                      <span>Follow</span>
                    </span>
                  </div>
                </div>
                <div class="text-xs-center">
                  <button class="btn btn-round btn-outline btn-primary" type="button" name="button">See all (19)</button>
                </div>
              </div>
            </div>
            <!-- End User Following -->
          </div>
          <!-- End Middle Column -->

          <!-- Left Column -->
          <div class="col-xs-12 col-lg-6 col-xl-3 pull-xl-6">
            <div class="user-info card card-shadow text-xs-center">
              <div class="user-base card-block">
                <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                  <img src="{{assets}}/portraits/5.jpg" alt="...">
                </a>
                <h4 class="user-name">Terrance arnold</h4>
                <p class="user-job">Art director</p>
                <p class="user-location">Washington, d.c.</p>
              </div>

              <div class="user-actions">
                <button class="btn btn-primary btn-round" type="button" name="follow">Follow</button>
                <div class="dropdown">
                  <button class="btn btn-primary btn-round btn-outline dropdown-toggle" data-toggle="dropdown"
                    id="userConnect" type="button" name="userConnect">Connect</button>
                  <div class="dropdown-menu" aria-labelledby="userConnect" role="menu">
                    <a class="dropdown-item" href="#" role="menuitem">
                      <i class="icon md-share"></i> Real Gmat Test
                    </a>
                    <a class="dropdown-item" href="#" role="menuitem">
                      <i class="icon md-share"></i> Real Gmat Test
                    </a>

                    <a class="dropdown-item" href="#" role="menuitem">
                      <i class="icon md-share"></i> Real Gmat Test
                    </a>
                    <a class="dropdown-item" href="#" role="menuitem">
                      <i class="icon md-share"></i> Real Gmat Test
                    </a>
                    <a class="dropdown-item" href="#" role="menuitem">
                      <i class="icon md-share"></i> Real Gmat Test
                    </a>
                  </div>
                </div>
              </div>

              <div class="user-stats">
                <a class="user-stat counter" href="javascript:void(0)">
                  <span class="counter-number font-size-16">260</span>
                  <span class="counter-label inline-block m-l-5">Following</span>
                </a>
                <a class="user-stat counter p-15" href="javascript:void(0)">
                  <span class="counter-number font-size-16">1.8M</span>
                  <span class="counter-label inline-block m-l-5">Followers</span>
                </a>
              </div>

              <div class="user-socials list-group list-group-full">
                <a class="list-group-item" href="javascript:void(0)">
                  <i class="icon bd-twitter"></i> twitter.com/example
                </a>
                <a class="list-group-item" href="javascript:void(0)">
                  <i class="icon bd-facebook"></i> facebook.com/example
                </a>
                <a class="list-group-item" href="javascript:void(0)">
                  <i class="icon bd-dribbble"></i> dribbble.com/example
                </a>
                <a class="list-group-item" href="javascript:void(0)">
                  <i class="icon bd-github"></i> github.com/example
                </a>
              </div>

              <div class="card-footer">
                <a href="#">
                  <i class="icon md-print"></i> Export page as PDF
                </a>
              </div>
            </div>
            <!-- End User Info -->
            <!-- Friend List -->
            <div class="user-friends card card-shadow">
              <div class="card-block">
                <h4 class="card-title m-b-20">
                  Friends
                  <span>210</span>
                </h4>
                <ul class="list-group list-group-full m-0">
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar avatar-online" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/1.jpg" alt="...">
                          <i></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">
                          Herman Beck
                        </h4>
                        <small>CEO</small>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar avatar-busy" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/2.jpg" alt="...">
                          <i></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">
                          Mary Adams
                        </h4>
                        <small>CIO</small>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar avatar-off" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/3.jpg" alt="...">
                          <i></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">
                          Caleb Richards
                        </h4>
                        <small>CTO</small>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar avatar-away" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/4.jpg" alt="...">
                          <i></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">
                          June Lane
                        </h4>
                        <small>CVO</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Friends List -->
          </div>
          <!-- End Left Column -->

          <!-- Right Column -->
          <div class="col-lg-6 col-xl-3  col-xs-12">
            <div class="card user-visitors">
              <div class="card-header card-header-transparent p-20">
                <h4 class="card-title m-b-0">Visitors</h4>
              </div>
              <div class="card-block">
                <ul class="list-group list-group-full">
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar avatar-online" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/11.jpg">
                          <i></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">Dan Cederholm
                        </h4>
                        <small>Co-founder of Company</small>
                      </div>
                      <div class="media-right p-t-10 p-b-10 p-0">
                        <button class="btn btn-icon btn-primary btn-outline btn-round btn-xs" type="button"
                          name="button">
                          <i class="icon icon-xs md-plus m-r-0"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/12.jpg">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">Oykun Yilmaz</h4>
                        <small>Co-founder of Company</small>
                      </div>
                      <div class="media-right p-t-10 p-b-10 p-0">
                        <button class="btn btn-icon btn-primary btn-outline btn-round btn-xs" type="button"
                          name="button">
                          <i class="icon icon-xs md-plus m-r-0"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/10.jpg">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">Caleb Richards</h4>
                        <small>Co-founder of Company</small>
                      </div>
                      <div class="media-right p-t-10 p-b-10 p-0">
                        <button class="btn btn-icon btn-primary btn-outline btn-round btn-xs" type="button"
                          name="button">
                          <i class="icon icon-xs md-plus m-r-0"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a class="avatar" href="javascript:void(0)">
                          <img class="img-fluid" src="{{assets}}/portraits/1.jpg">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading hover">June Lane</h4>
                        <small>Co-founder of Company</small>
                      </div>
                      <div class="media-right p-t-10 p-b-10 p-0">
                        <button class="btn btn-icon btn-primary btn-outline btn-round btn-xs" type="button"
                          name="button">
                          <i class="icon icon-xs md-plus m-r-0"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="text-xs-center">
                  <button class="btn btn-round btn-outline btn-primary" type="button" name="button">See all
                    <span>(19)</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card user-may-know">
              <div class="card-header card-header-transparent p-20">
                <h4 class="card-title m-b-5">People you may know</h4>
                <ol class="breadcrumb m-b-0 p-0">
                  <li class="breadcrumb-item">
                    <a href="#">Jackie Tran Anh</a>
                  </li>
                  <li class="breadcrumb-item active">
                    Designer
                  </li>
                </ol>
              </div>
              <div class="card-block">
                <div class="avatar avatar-online avatar-lg m-5">
                  <img src="{{assets}}/portraits/2.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-off avatar-lg m-5">
                  <img src="{{assets}}/portraits/3.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-busy avatar-lg m-5">
                  <img src="{{assets}}/portraits/4.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-away avatar-lg m-5">
                  <img src="{{assets}}/portraits/1.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-online avatar-lg m-5">
                  <img src="{{assets}}/portraits/5.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-away avatar-lg m-5">
                  <img src="{{assets}}/portraits/1.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-away avatar-lg m-5">
                  <img src="{{assets}}/portraits/1.jpg" alt="" />
                  <i></i>
                </div>
                <div class="avatar avatar-away avatar-lg m-5">
                  <img src="{{assets}}/portraits/1.jpg" alt="" />
                  <i></i>
                </div>
              </div>
              <div class="card-block">
                <div class="input-search">
                  <button class="input-search-btn" type="button" name="button">
                    <i class="icon md-search" aria-hidden="true"></i>
                  </button>
                  <input class="form-control" type="text" name="search" placeholder="Search...">
                </div>
              </div>
            </div>
          </div>
          <!-- End Right Column -->
        </div>
      </div>
    </div>
    </div>

  {{/content}}
{{/extend}}