---
title: Register
body_class: page-register layout-full page-dark
---

{{#extend "layout-blank"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/register.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/jquery-placeholder/jquery.placeholder.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/jquery-placeholder.js"></script>
    <script src="{{assets}}/js/Plugin/animate-list.js"></script>
    <script src="{{assets}}/js/Plugin/material.js"></script>
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle">
        <div class="brand">
          <img class="brand-img" src="{{assets}}//images/logo.png" alt="...">
          <h2 class="brand-text">Remark</h2>
        </div>
        <p>Sign up to find interesting thing</p>
        <form method="post" role="form" autocomplete="off">
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control empty" id="inputName" name="name">
            <label class="floating-label" for="inputName">Name</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="email" class="form-control empty" id="inputEmail" name="email">
            <label class="floating-label" for="inputEmail">Email</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control empty" id="inputPassword" name="password">
            <label class="floating-label" for="inputPassword">Password</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control empty" id="inputPasswordCheck" name="passwordCheck">
            <label class="floating-label" for="inputPasswordCheck">Retype Password</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <p>Have account already? Please go to <a href="login.html">Sign In</a></p>

        <footer class="page-copyright page-copyright-inverse">
          <p>WEBSITE BY amazingSurge</p>
          <p>© 2017. All RIGHT RESERVED.</p>
          <div class="social">
            <a href="javascript:void(0)">
              <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="icon bd-dribbble" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}