<!DOCTYPE html>
<html class="no-js css-menubar" ng-app="app" ng-strict-di ng-controller="RootController as rootCtrl">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title ng-bind="rootCtrl.Page.title()">Site</title>
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="/assets/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="/assets/vendor/jquery-mmenu/jquery-mmenu.css">
    <link rel="stylesheet" href="/assets/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="/assets/vendor/waves/waves.css">
    <link rel="stylesheet" href="/assets/vendor/jquery-mmenu/jquery-mmenu.css">
    <link rel="stylesheet" href="/assets/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">

    <!-- Custom page styles-->
    <link rel="stylesheet" ng-href="{{style}}" ng-repeat="style in rootCtrl.Page.pageProp.customStyles">

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!--[if lt IE 9]>
    <script src="/assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="/assets/vendor/media-match/media.match.min.js"></script>
    <script src="/assets/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition" ng-class="[rootCtrl.Page.layout()?'layout-full':'',rootCtrl.Page.bodyClass(),rootCtrl.Page.showNavbar()?'site-navbar-small':'']">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Root View -->
<div class="" ng-cloak="" ui-view="root" style="height: 100%;"></div>

<!-- Core  -->
<script src="/assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/tether/tether.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="/assets/vendor/animsition/animsition.js"></script>
<script src="/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/assets/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/assets/vendor/waves/waves.js"></script>
<!-- Plugins -->
<script src="/assets/vendor/jquery-mmenu/jquery.mmenu.min.all.js"></script>
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/intro-js/intro.js"></script>
<script src="/assets/vendor/screenfull/screenfull.js"></script>
<script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

<!-- dash list plugins-->
<!--<script src="/assets/vendor/peity/jquery.peity.min.js"></script>-->
<script src="/assets/vendor/chartist/chartist.min.js"></script>
<script src="/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
<script src="/assets/vendor/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
<!-- dash list plugins-->

<!-- user list plugins init-->
<!--<script src="/assets/vendor/aspaginator/jquery.asPaginator.min.js"></script>-->
<!-- user list plugins init-->

<!-- Scripts -->
<script src="/assets/js/State.js"></script>
<script src="/assets/js/Component.js"></script>
<script src="/assets/js/Plugin.js"></script>
<script src="/assets/js/Base.js"></script>
<script src="/assets/js/Config.js"></script>
<script src="/assets/js/Section/Menubar.js"></script>
<script src="/assets/js/Section/Sidebar.js"></script>
<script src="/assets/js/Section/PageAside.js"></script>
<script src="/assets/js/Section/GridMenu.js"></script>
 <!--Config -->
<script src="/assets/js/config/colors.js"></script>
<script src="/assets/js/config/tour.js"></script>
<script>
    Config.set('assets', '/assets');
</script>
<!-- Page -->
<script src="/assets/js/Site.js"></script>
<!--<script>console.log("Site",Site);</script>-->
<script src="/assets/js/Plugin/asscrollable.js"></script>
<script src="/assets/js/Plugin/slidepanel.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>

<!-- dash list plugins init-->
<script src="/assets/js/Plugin/matchheight.js"></script>
<script src="/assets/js/Plugin/jvectormap.js"></script>
<!--<script src="/assets/js/Plugin/peity.js"></script>-->
<!-- dash list plugins init-->

<!-- user list plugins init-->
<!--<script src="/assets/js/Plugin/aspaginator.js"></script>-->
<!--<script src="/assets/js/Plugin/tabs.js"></script>-->
<!--<script src="/assets/js/Plugin/responsive-tabs.js"></script>-->
<!-- user list plugins init-->

<!--<script src="/assets/examples/js/dashboard/v1.js"></script>-->
<script>
    $(document).ready(function($) {
        Site.run();
    });
</script>
<!-- App -->
<script src="vendor/angular.min.js"></script>
<script src="vendor/angular-ui-router.min.js"></script>
<script src="app/app.min.js"></script>

</body>
</html>
