<div class="page-content vertical-align-middle">
    <a href="javascript:;" ui-sref="app.crm.dash">
        <style type="text/css">
            #omnicore_logo:hover .st0{
                fill: #899aab;
            }
        </style>
        <svg version="1.1" id="omnicore_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 137.3 23.8" xml:space="preserve" style="width: 300px;">
            <style type="text/css">
	.st0 {
        fill: #0e3457;
        transition: fill 0.3s ease-in-out;
    }
</style>
<g>
	<g>
		<circle class="st0" cx="13.1" cy="1.2" r="1.2"/>
	</g>
	<g>
		<circle class="st0" cx="1.2" cy="22.6" r="1.2"/>
	</g>
	<g>
		<path class="st0" d="M12.4,11.7L9.8,7.2c0-0.1-0.1-0.1-0.2-0.1c0,0-5.3,0-5.4,0c-0.1,0-0.2,0-0.2,0.1l-2.5,4.5
			c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2L4,16.6c0,0.1,0.1,0.1,0.2,0.1c0.1,0,5.4,0,5.4,0c0.1,0,0.2,0,0.2-0.1l2.5-4.5
			c0-0.1,0.1-0.1,0.1-0.2S12.4,11.7,12.4,11.7z M10.6,12.1L9,14.9c-0.1,0.2-0.2,0.2-0.4,0.2c0,0-3.1,0-3.3,0c-0.2,0-0.3-0.1-0.4-0.2
			l-1.6-2.8c0-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.2,0.1-0.2l1.6-2.8C5,8.7,5.1,8.7,5.3,8.7c0.2,0,3.3,0,3.3,0c0.2,0,0.3,0,0.4,0.2
			l1.6,2.8c0,0.1,0.1,0.1,0.1,0.2S10.6,12.1,10.6,12.1z"/>
		<path class="st0" d="M96.8,7c-2.8,0-4.9,2.2-4.9,4.9c0,2.7,2.1,4.9,4.9,4.9c2.8,0,4.9-2.2,4.9-4.9C101.7,9.2,99.6,7,96.8,7z
			 M96.8,15.4c-1.9,0-3.3-1.5-3.3-3.4c0-2,1.5-3.5,3.3-3.5s3.3,1.5,3.3,3.5C100.2,13.8,98.7,15.4,96.8,15.4z"/>
		<path class="st0" d="M119.6,16.5l-2.8-4c1.3-0.3,2.1-1.3,2.1-2.6c0-0.7-0.3-2.7-3.3-2.7c0,0-4.4,0-4.5,0c-0.1,0-0.2,0-0.2,0.1v9.2
			c0,0.1,0.1,0.2,0.2,0.2h1.2c0.1,0,0.1-0.1,0.1-0.2v-3.8c0-0.1,0.1-0.1,0.2-0.1h2.4c0.1,0,0.2,0,0.2,0.1l2.7,3.8
			c0,0.1,0.1,0.1,0.2,0.1h1.4C119.8,16.7,119.7,16.6,119.6,16.5z M112.6,11.3c-0.1,0-0.2-0.1-0.2-0.2V8.6c0-0.1,0.1-0.1,0.2-0.1h3
			c1.1,0,1.7,0.5,1.7,1.4c0,0.9-0.6,1.4-1.7,1.4H112.6z"/>
		<path class="st0" d="M137.3,15.4c0-0.1-0.1-0.1-0.1-0.1h-6.4c-0.1,0-0.1-0.1-0.1-0.1c0-3,0-2.9,0-2.9h5.3c0.1,0,0.1-0.1,0.1-0.1
			c0-0.1,0-1.1,0-1.1c0-0.1-0.1-0.1-0.1-0.1h-5.2c-0.1,0-0.1-0.1-0.1-0.1V8.6c0-0.1,0.1-0.1,0.1-0.1h6.2c0.1,0,0.1-0.1,0.1-0.1
			c0-0.1,0-1.1,0-1.1c0-0.1-0.1-0.1-0.1-0.1h-7.6c-0.1,0-0.1,0.1-0.1,0.1v9.2c0,0.1,0.1,0.1,0.1,0.1h7.8c0.1,0,0.1-0.1,0.1-0.1
			C137.3,16.4,137.3,15.4,137.3,15.4L137.3,15.4L137.3,15.4z"/>
		<path class="st0" d="M82.7,16.6c0.1,0,0.1-0.1,0.1-0.1c0-0.1,0-1.2,0-1.2c0-0.1-0.1-0.1-0.1-0.1c0,0-4.6,0-4.8,0
			c-0.2,0-0.3,0-0.4-0.2l-1.6-2.9c0-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.2,0.1-0.2l1.6-2.8c0.1-0.2,0.2-0.2,0.4-0.2s4.6,0,4.6,0
			c0.1,0,0.1-0.1,0.1-0.1c0-0.1,0-1.2,0-1.2c0-0.1-0.1-0.1-0.1-0.1c0,0-5.5,0-5.7,0c-0.1,0-0.2,0-0.2,0.1l-2.5,4.4
			c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2l2.5,4.5c0,0.1,0.1,0.1,0.2,0.1C77,16.6,82.7,16.6,82.7,16.6L82.7,16.6L82.7,16.6z"/>
		<path class="st0" d="M27,13c0.1,0,0.2,0,0.2-0.1l3-3.5v7.1c0,0.1,0.1,0.1,0.1,0.1h1.2c0.1,0,0.1,0,0.1-0.1V7.3
			c0-0.1-0.1-0.1-0.1-0.1h-1.1c-0.1,0-0.2,0-0.3,0.1l-3.5,4.2c0,0-0.1,0-0.1,0l-3.5-4.2C23,7.2,23,7.1,22.8,7.1h-1.1
			c-0.1,0-0.1,0-0.1,0.1v9.3c0,0.1,0.1,0.1,0.1,0.1H23c0.1,0,0.1,0,0.1-0.1V9.4l3,3.5c0.1,0.1,0.1,0.1,0.2,0.1H27L27,13L27,13z"/>
		<path class="st0" d="M49.6,16.6c0.1,0.1,0.1,0.1,0.2,0.1h1.1c0.1,0,0.1,0,0.1-0.1V7.3c0-0.1-0.1-0.1-0.1-0.1h-1.2
			c-0.1,0-0.1,0-0.1,0.1v6.9c0,0,0,0.1-0.1,0l-6.5-7c-0.1-0.1-0.1-0.1-0.2-0.1h-1.1c-0.1,0-0.1,0-0.1,0.1v9.3c0,0.1,0.1,0.1,0.1,0.1
			H43c0.1,0,0.1,0,0.1-0.1v-7c0,0,0-0.1,0.1,0L49.6,16.6L49.6,16.6z"/>
		<path class="st0" d="M64,16.5c0,0.1-0.1,0.1-0.1,0.1h-1.3c-0.1,0-0.1,0-0.1-0.1V7.3c0-0.1,0.1-0.1,0.1-0.1c0.1,0,1.3,0,1.3,0
			C64,7.1,64,7.2,64,7.3V16.5L64,16.5z"/>
	</g>
</g>
</svg>
    </a>
</div>