<div class="title">Adresář</div>

<div class="address-index">
    <div class="block-wraper">
        <div class="address-wrap">
            <div id="w0" class="" data-ajax-container="1">
                <div class="empty">Nenalezeny žádné záznamy.</div>
            </div>
        </div>

        <div class="form-wrap">
            <div class="double-input mb45">
                <div class="input-row">
                    <a class="button mt0" href="/account/address/create">+ Přidat adresu</a></div>
                <div class="input-row"></div>
            </div>
        </div>
    </div>
</div>