<div class="title border-bottom">My Account</div>

<div class="block-wraper">
    <ul class="profile-menu"><li class="active"><a href="/en/account/profile/index">My Profile</a></li>
        <li><a href="/en/account/address/index">Address Book</a></li>
        <li><a href="/en/account/favorite/index">Favorites</a></li>
        <li><a href="/en/account/order/index">My Orders</a></li>
        <li><a href="/en/logout" data-method="post">Logout</a></li></ul>
</div>