<div class="title">Oblíbené</div>

<div class="block-wraper">
    <div class="favorite-page empty active">
        <div class="share-wrapper">
                    <span class="share-link" href="">
                        <span class="share"></span>
                        <span class="uppercase">Sdílet</span>
                    </span>
        </div>
        <div class="block-title middle pt33">
            Váš seznam oblíbených položek je přázdný. Přidejte vybranou položku mezi oblíbené a bude zde automaticky
            uložena.
        </div>
    </div>
    <div class="favorite-page full">
        <div class="share-wrapper">
            <a class="share-link"
               href="https://www.facebook.com/sharer/sharer.php?u=http://urbanteens.dev/account/favorite/index">
                <span class="share"></span>
                <span class="uppercase">Sdílet</span>
            </a>
        </div>
        <div class="mobile-sort-wrapper">
            <div class="item-count"><span>0</span> položky</div>
            <div class="sort">
                <span class="square one-column active"></span>
                <span class="square double-column"></span>
            </div>
        </div>
        <div id="w0" class="favorite-products">
            <div class="empty">Nenalezeny žádné záznamy.</div>
        </div>
    </div>
</div>

<div class="profile-page favorite-share-popup">
    <div class="title">Podělte se o svůj seznam oblíbených položek</div>
    <div class="form-wrap change-pass">
        <div class="double-input">
            <div class="input-row">
                <div class="label">Zkopírujte krátkou URL</div>
                <input id="shortUrl" type="text" value="utee.ns/xyz12" disabled="">
            </div>
            <div class="input-row">
                <input class="clipboard-copy button active hover" type="button" value="Kopírovat">
            </div>
        </div>
    </div>
    <form class="form-wrap">
        <div class="double-input">
            <div class="input-row">
                <div class="label">Poslat e-mailem</div>
                <input type="text" placeholder="Vložte emailovou adresu">
            </div>
            <div class="input-row">
                <input class="button active hover" type="submit" value="Poslat">
            </div>
        </div>
    </form>
    <div class="label">Podíl prostřednictvím Sociálních Sítí</div>
    <div class="social-block">
        <div class="share">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://urbanteens.dev/account/favorite/index"><span
                    class="facebook"></span>Facebook</a>
        </div>
        <div class="share">
            <a href="https://plus.google.com/share?url=http://urbanteens.dev/account/favorite/index"><span
                    class="google-plus"></span>Google+</a>
        </div>
    </div>
</div>