<div class="breadcrumbs-wrapper">
    <ul class="breadcrumb"><li><a href="/en/">URBANTEENS</a></li>
        <li><a href="/en/account/profile/index">My Account</a></li>
        <h1>My Profile</h1>
    </ul>
</div>
<section class="content-wrap profile-page">
    <div class="block menu-block" ng-cloak="">
        <!--ui-view="aside"-->
        <div class="title border-bottom">My Account test sdada</div>
        <div class="" name-dir="">Should disappear</div>
        <div class="block-wraper">
            <ul class="profile-menu">
                <li ui-sref-active="active" ui-sref="app.account.index" old-url="/en/account/profile/index"><a href="javascript:;">My Profile</a></li>
                <li ui-sref-active="active" ui-sref="app.account.address" old-url="/en/account/address/index"><a href="javascript:;">Address Book</a></li>
                <li ui-sref-active="active" ui-sref="app.account.favorites" old-url="/en/account/favorite/index"><a href="javascript:;">Favorites</a></li>
                <li ui-sref-active="active" ui-sref="app.account.my-orders" old-url="/en/account/order/index"><a href="javascript:;">My Orders</a></li>
                <li><a href="/en/logout" data-method="post">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="block profile-block" ng-class="accountCtrl.sectionClass" all-classes="" ng-cloak="" ui-view="accountView"></div>
</section>
