<div class="title">My Profile</div>

<div class="block-wraper">
    <div class="block-title pt33">
        Tell us more about you
    </div>
    <form id="w0" class="form-wrap" action="/en/account/profile/index" method="post">
        <input type="hidden" name="_csrf" value="VU9BSEFsR3ZsHhMHMjodP20lNC8INjcZYxcLAgAcPhE8PS8hNzMqRg==">
        <!-- Username form-group -->
        <div class="double-input field-usereditform-username">
            <div class="input-row field-usereditform-first_name">
                <div class="help-block"></div>

                <input type="text" id="usereditform-first_name" class="form-control" name="UserEditForm[first_name]"
                       maxsize="" placeholder="First Name" ng-model="mainCtrl.firstName">

            </div>
            <div class="">{{mainCtrl.firstName}}</div>
            <div class="input-row field-usereditform-last_name">
                <div class="help-block"></div>

                <input type="text" id="usereditform-last_name" class="form-control" name="UserEditForm[last_name]"
                       maxsize="" placeholder="Last Name">

            </div>
        </div>
        <!-- Email form-group -->
        <div class="double-input field-usereditform-phone">
            <div class="input-row field-usereditform-phone">
                <div class="help-block"></div>

                <input type="text" id="usereditform-phone" name="UserEditForm[phone]" value=""
                       placeholder="Phone Number" data-plugin-inputmask="inputmask_014ea84d">

            </div>
            <div class="input-row select field-usereditform-language">
                <div class="help-block"></div>

                <select
                        id="usereditform-language"
                        class="form-control"
                        name="UserEditForm[language]"
                        ng-model="accountCtrl.userLang"
                        ng-options="lang.displayName for lang in accountCtrl.langList track by lang.value">
                    <!--<option value="cs">Český</option>-->
                    <!--<option value="en" selected="">English</option>-->
                </select>
                <div class="">{{accountCtrl.langList}}</div>
            </div>
        </div>
        <!-- Buying for radio-input -->
        <div class="select-wrap mb0 field-usereditform-buying_for">
            <label class="block-title small" style="display:block;">For whom are you buying?</label>
            <div class="double-select"><input type="hidden" name="UserEditForm[buying_for]" value="">
                <div id="usereditform-buying_for">
                    <div class="input-row"><input type="radio" id="UserEditForm[buying_for]0"
                                                  name="UserEditForm[buying_for]" value="1" hidden=""><label
                            for="UserEditForm[buying_for]0"><span class="icon"></span>For the kids</label></div>
                    <div class="input-row"><input type="radio" id="UserEditForm[buying_for]1"
                                                  name="UserEditForm[buying_for]" value="0" hidden=""><label
                            for="UserEditForm[buying_for]1"><span class="icon"></span>For myself</label></div>
                </div>
                <div class="help-block"></div>
            </div>
        </div>
        <!-- parent wrap group-form -->
        <div class="parent-wrap ">
            <!-- Gender radio-input -->
            <div class="select-wrap mb2 field-usereditform-gender">
                <label class="block-title small" style="display:block;">Select gender</label>
                <div class="double-select"><input type="hidden" name="UserEditForm[gender]" value="">
                    <div id="usereditform-gender">
                        <div class="input-row"><input type="radio" id="UserEditForm[gender]0"
                                                      name="UserEditForm[gender]" value="1" hidden=""><label
                                for="UserEditForm[gender]0"><span class="icon"></span>Male</label></div>
                        <div class="input-row"><input type="radio" id="UserEditForm[gender]1"
                                                      name="UserEditForm[gender]" value="0" hidden=""><label
                                for="UserEditForm[gender]1"><span class="icon"></span>Female</label></div>
                    </div>
                    <div class="help-block"></div>
                </div>
            </div>
            <!-- user b-day and height form-group -->
            <div class="double-input field-usereditform-properties">
                <div class="input-row field-usereditform-birthday">
                    <div class="help-block"></div>
                    <label class="label" style="display:block;" for="usereditform-birthday">Date of birth</label>
                    <input type="text" id="usereditform-birthday" class="form-control" name="UserEditForm[birthday]"
                           maxsize="" placeholder="YYYY/MM/DD">

                </div>
                <div class="input-row field-usereditform-height">
                    <div class="help-block"></div>
                    <label class="label" style="display:block;" for="usereditform-height">Height</label>
                    <input type="text" id="usereditform-height" class="form-control" name="UserEditForm[height]"
                           maxsize="" placeholder="160 cm">

                </div>
            </div>
        </div>

        <!-- Child form-group -->
        <div class="child-wrap hidden">
            <div class="child-inner">
                <div class="child" data-index="0">
                    <div class="line mb6 mt15"></div>


                    <!-- Gender radio-input -->
                    <div class="select-wrap mb2 radio field-userkid-0-gender">
                        <label class="block-title small" style="display:block;">Select gender</label>
                        <div class="double-select"><input type="hidden" name="UserKid[0][gender]" value="">
                            <div id="userkid-0-gender">
                                <div class="input-row"><input type="radio" id="0_0" name="UserKid[0][gender]" value="1"
                                                              hidden=""><label for="0_0"><span class="icon"></span>Male</label>
                                </div>
                                <div class="input-row"><input type="radio" id="1_0" name="UserKid[0][gender]" value="0"
                                                              hidden=""><label for="1_0"><span class="icon"></span>Female</label>
                                </div>
                            </div>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <!-- Kid name form-group -->
                    <div class="double-input field-userkid-name">
                        <div class="input-row name field-userkid-0-name">
                            <div class="help-block"></div>
                            <label class="label" style="display:block;" for="userkid-0-name">Name</label>
                            <input type="text" id="userkid-0-name" class="form-control" name="UserKid[0][name]"
                                   maxsize="" placeholder="Name">

                        </div>
                        <div class="input-row"></div>

                    </div>
                    <!-- child b-day and height form-group -->
                    <div class="double-input field-userkid-child_properties">
                        <div class="input-row birthday field-userkid-0-birthday">
                            <div class="help-block"></div>
                            <label class="label" style="display:block;" for="userkid-0-birthday">Birthday</label>
                            <input type="text" id="userkid-0-birthday" class="form-control" name="UserKid[0][birthday]"
                                   maxsize="" placeholder="YYYY/MM/DD">

                        </div>
                        <div class="input-row height field-userkid-0-height">
                            <div class="help-block"></div>
                            <label class="label" style="display:block;" for="userkid-0-height">Height</label>
                            <input type="text" id="userkid-0-height" class="form-control" name="UserKid[0][height]"
                                   maxsize="" placeholder="160 cm">

                        </div>
                    </div>
                </div>
            </div>


            <div class="double-input mb45">
                <div class="input-row">
                    <input class="button add-child" type="button" value="+ Add kid">
                </div>
                <div class="input-row"></div>
            </div>
        </div>

        <div class="double-input">
            <div class="input-row">
                <button type="submit" class="button active hover">Save Changes</button>
            </div>
            <div class="input-row"></div>
        </div>

    </form>
    <div class="line"></div>

    <div class="block-title pt33">
        <span class="uppercase">Want to change password?</span>
    </div>

    <div class="form-wrap change-pass">
        <div class="double-input">
            <div class="input-row">
                <input class="button active hover" type="button" value="Change Password">
            </div>
            <div class="input-row"></div>
        </div>
    </div>

    <form id="w1" class="form-wrap change-pass-form" action="/account/profile/repass" method="post">
        <input type="hidden" name="_csrf" value="VU9BSEFsR3ZsHhMHMjodP20lNC8INjcZYxcLAgAcPhE8PS8hNzMqRg==">
        <div class="double-input field-changepassword-restore_password">
            <div class="input-row field-changepassword-oldpassword required">
                <div class="help-block"></div>
                <label class="label" style="display:block;" for="changepassword-oldpassword">Old Password</label>
                <input type="password" id="changepassword-oldpassword" class="form-control"
                       name="ChangePassword[oldPassword]" maxsize="" placeholder="**********">

            </div>
            <div class="input-row"></div>

        </div>
        <div class="double-input field-changepassword-restore_password">
            <div class="input-row field-changepassword-newpassword required">
                <div class="help-block"></div>
                <label class="label" style="display:block;" for="changepassword-newpassword">New Password</label>
                <input type="password" id="changepassword-newpassword" class="form-control"
                       name="ChangePassword[newPassword]" maxsize="" placeholder="New Password">

            </div>
            <div class="input-row field-changepassword-newpassword_repeat">
                <div class="help-block"></div>
                <label class="label" style="display:block;" for="changepassword-newpassword_repeat">Confirm
                    Password</label>
                <input type="password" id="changepassword-newpassword_repeat" class="form-control"
                       name="ChangePassword[newPassword_repeat]" maxsize="" placeholder="Confirm Password">

            </div>
        </div>
        <div class="double-input">
            <div class="input-row">
                <button type="submit" class="button active hover">Save Changes</button>
            </div>
            <div class="input-row"></div>
        </div>

    </form>
</div>