<div class="page-content">
    <!-- Panel -->
    <div class="panel">
        <div class="panel-body">
            <form class="page-search-form" role="search">
                <div class="input-search input-search-dark">
                    <i class="input-search-icon md-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" id="inputSearch" name="search" ng-model="usrListCtrl.query" placeholder="Search Users">
                    <button type="button" class="input-search-close icon md-close" aria-label="Close"></button>
                </div>
            </form>
            <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
                <div class="dropdown page-user-sortlist">
                    Order By: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                 href="#" aria-expanded="false">Last Active</a>
                    <div class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                         role="menu">
                        <a class="active dropdown-item" href="javascript:void(0)">Last Active</a>
                        <a class="dropdown-item" href="javascript:void(0)">Username</a>
                        <a class="dropdown-item" href="javascript:void(0)">Location</a>
                        <a class="dropdown-item" href="javascript:void(0)">Register Date</a>
                    </div>
                </div>
                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                    <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
                                                                aria-controls="all_contacts" role="tab">All Contacts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#my_contacts" aria-controls="my_contacts"
                                                                role="tab">My Contacts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#google_contacts" aria-controls="google_contacts"
                                                                role="tab">Google Contacts</a></li>
                    <li class="dropdown nav-item" role="presentation">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Contacts </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" data-toggle="tab" href="#all_contacts" aria-controls="all_contacts"
                               role="tab">All Contacts</a>
                            <a class="active dropdown-item" data-toggle="tab" href="#my_contacts" aria-controls="my_contacts"
                               role="tab">My Contacts</a>
                            <a class="dropdown-item" data-toggle="tab" href="#google_contacts" aria-controls="google_contacts"
                               role="tab">Google Contacts</a>
                        </div>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="user in usrListCtrl.userList | filter:usrListCtrl.query as filtered">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img ng-src="{{user.avatar}}" alt="{{user.name + ' ' + user.surname}}">
                                            <i class="avatar avatar-busy"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{user.name + ' ' + user.surname}}
                                            <small>Last Access: 1 hour ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 4425 Golf Course Rd
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {{"=>" + filtered.length}}
                        <nav>
                            <ul data-plugin="paginator" data-total="filtered" data-skin="pagination-no-border"></ul>
                        </nav>
                    </div>
                    <div class="tab-pane animation-fade" id="my_contacts" role="tabpanel">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img src="../../assets/portraits/13.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Sarah Graves
                                            <small>Last Access: 1 hour ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 4190 W Lone Mountain Rd
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-away">
                                            <img src="../../assets/portraits/14.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Andrew Hoffman
                                            <small>Last Access: 2 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 2849 Spring St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-busy">
                                            <img src="../../assets/portraits/15.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Camila Lynch
                                            <small>Last Access: 3 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 2128 W Campbell St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-off">
                                            <img src="../../assets/portraits/16.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Ramon Dunn
                                            <small>Last Access: 4 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 7014 Pecan Acres Ln
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img src="../../assets/portraits/17.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Scott Sanders
                                            <small>Last Access: 5 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 2797 Airport St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-away">
                                            <img src="../../assets/portraits/18.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Nina Wells
                                            <small>Last Access: 6 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 1020 Crescent Canyon St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-busy">
                                            <img src="../../assets/portraits/19.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Beverly Grant
                                            <small>Last Access: 7 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 3356 Crockett St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-off">
                                            <img src="../../assets/portraits/20.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Marvin Nelson
                                            <small>Last Access: 8 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 1504 Mcgowen St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img src="../../assets/portraits/1.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Herman Beck
                                            <small>Last Access: 9 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 5858 Abby Park St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-away">
                                            <img src="../../assets/portraits/2.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Mary Adams
                                            <small>Last Access: 10 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 8901 Genschaw Rd
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-busy">
                                            <img src="../../assets/portraits/3.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Caleb Richards
                                            <small>Last Access: 11 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 7715 Washington Ave
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <nav>
                            <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
                        </nav>
                    </div>
                    <div class="tab-pane animation-fade" id="google_contacts" role="tabpanel">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img src="../../assets/portraits/8.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Heather Harper
                                            <small>Last Access: 1 hour ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 4393 Kelly Dr
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-away">
                                            <img src="../../assets/portraits/9.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Willard Wood
                                            <small>Last Access: 2 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 6524 W Craig Rd
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-busy">
                                            <img src="../../assets/portraits/10.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Ronnie Ellis
                                            <small>Last Access: 3 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 3045 Locust Rd
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-off">
                                            <img src="../../assets/portraits/11.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Gwendolyn Wheeler
                                            <small>Last Access: 4 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 4090 Rudder Rd
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img src="../../assets/portraits/12.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Daniel Russell
                                            <small>Last Access: 5 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 5899 Sable St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-away">
                                            <img src="../../assets/portraits/13.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Sarah Graves
                                            <small>Last Access: 6 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 8954 Hamilton Ave
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-busy">
                                            <img src="../../assets/portraits/14.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Andrew Hoffman
                                            <small>Last Access: 7 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 6056 Airport Ave
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-off">
                                            <img src="../../assets/portraits/15.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Camila Lynch
                                            <small>Last Access: 8 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 7096 Fourth St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="icon md-check" aria-hidden="true"></i>Following
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-online">
                                            <img src="../../assets/portraits/16.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Ramon Dunn
                                            <small>Last Access: 9 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 6580 Pinecrest St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="avatar avatar-away">
                                            <img src="../../assets/portraits/17.jpg" alt="...">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Scott Sanders
                                            <small>Last Access: 10 hours ago</small>
                                        </h4>
                                        <p>
                                            <i class="icon icon-color md-pin" aria-hidden="true"></i>                          Street 2674 Second St
                                        </p>
                                        <div>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-email" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color md-smartphone" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a class="text-action" href="javascript:void(0)">
                                                <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button type="button" class="btn btn-primary btn-sm">Follow</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <nav>
                            <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>